{% extends 'base.html' %}
{%load static%}


{%block style%}
    <!-- <link type="text/css" href="{%static 'css/aos.css' %}" rel="stylesheet" /> -->
    <link type="text/css" href="{%static 'css/index.css' %}" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/content--half.css'%}" />
    <script src="{%static 'js/ScrollToPlugin.min.js'%}"></script>
    <link type="text/css" href="{%static 'css/loader.css' %}" rel="stylesheet" />
{%endblock%}

{%block content%}
    

    <div class="promo-video">
        <video autoplay="" loop="" muted="" playsinline="" class="ma_video" preload="none">
            <source src="{%static 'img/video.mp4'%}" type="video/mp4">
        </video>
    </div>

    <div data-aos="fade-up" data-aos-duration="1000">
        <div class="position-relative" style="height: 100vh;">
            <div class="promo-text fadeText">
                <p class="mb-0">
                    Создаём архитектуру, которая соединяет искусство, маркетинг, экономику и инженерию для максимальной эффективности застройки
                </p>
            </div>
        </div>
    </div>


    <div data-aos="fade-up" data-aos-duration="1000" class="after-promo-index-block">
        <div>
            <div class="content content--sticky content--half bg-1 content--sticky-bottom" style="background-image: linear-gradient(179.96deg, rgba(0, 0, 0, 0) 39.99%, #000000 106.58%), url({%static 'img/4.webp'%});">
                <h2 class="content__title">Архитектура и инженерия</h2>
                <p class="content__text">Создаём архитектуру, где эстетика, функциональность и экономическая эффективность работают в балансе.</p>
            </div>
            <div class="content content--sticky content--half bg-1 content--sticky-bottom" style="background-image: linear-gradient(179.96deg, rgba(0, 0, 0, 0) 39.99%, #000000 106.58%), url({%static 'img/5.webp'%});">
                <h2 class="content__title">Исследование территории</h2>
                <p class="content__text">Проводим комплексное исследование локации, выявляя её потенциал и ограничения</p>
            </div>
            <!-- <div class="content content--sticky content--half bg-1" style="background-image: url({%static 'img/4.webp'%});">
                <h2 class="content__title">Архитектура и инженерия</h2>
                <p class="content__text">Создаём архитектуру, где эстетика, функциональность и экономическая эффективность работают в балансе.</p>
            </div>
            <div class="content content--sticky content--half bg-1" style="background-image: url({%static 'img/5.webp'%});">
                <h2 class="content__title">Исследование территории</h2>
                <p class="content__text">Проводим комплексное исследование локации, выявляя её потенциал и ограничения</p>
            </div>
            <div class="content content--sticky content--half bg-1" style="background-image: url({%static 'img/4.webp'%});">
                <h2 class="content__title">Архитектура и инженерия</h2>
                <p class="content__text">Создаём архитектуру, где эстетика, функциональность и экономическая эффективность работают в балансе.</p>
            </div>
            <div class="content content--sticky content--half bg-1" style="background-image: url({%static 'img/5.webp'%});">
                <h2 class="content__title">Исследование территории</h2>
                <p class="content__text">Проводим комплексное исследование локации, выявляя её потенциал и ограничения</p>
            </div> -->
        </div>
    </div>
    <div class="margin-400"></div>
    <section id="numbers-block">
        <div data-aos="fade-up" data-aos-duration="1000">
            <div class="mini-container numbers-block fadeTextBlock">
                <div class="fc_ttl">   
                    <h2 >mowo - мультидисциплинарное бюро с экспертностью в жилой и коммерческой недвижимости</h2>
                </div>
                
                <div class="d-grid numbers-items block-scroll">
                    <div class="numbers-item">
                        <div class="number-num">
                            <span data-val="10">
                                10
                            </span>+
                        </div>
                        <p class="number-desc mb-0">Лет на рынке</p>
                    </div>
                    <div class="numbers-item">
                        <div class="number-num">
                            <span data-val="50">
                                50
                            </span>+
                        </div>
                        <p class="number-desc mb-0">Человек в команде</p>
                    </div>
                    <div class="numbers-item">
                        <div class="number-num">
                            <span data-val="120">
                                120
                            </span>+
                        </div>
                        <p class="number-desc mb-0">выполненных проектов</p>
                    </div>
                    <div class="numbers-item">
                        <div class="number-num">
                            <span data-val="6">
                                6
                            </span>+
                        </div>
                        <p class="number-desc mb-0">городов</p>
                    </div>
                    <div class="numbers-item">
                        <div class="number-num">
                            <span data-val="120">
                                250
                            </span>тыс.+
                        </div>
                        <p class="number-desc mb-0">построенной недвижимости</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="margin-400"></div>
    <div data-aos="fade-up" data-aos-duration="1000">
        <div>

            <div class="content content-bottom  content--sticky-top content--sticky content--half bg-1" style="background-image: linear-gradient(359.96deg, rgba(0, 0, 0, 0) 50%, #94B0C0 94.16%), url({%static 'img/2.webp'%});">
                <h2 class="content__title">Архитектура и инженерия</h2>
                <p class="content__text">Создаём архитектуру, где эстетика, функциональность и экономическая эффективность работают в балансе.</p>
            </div>
            <div class="content content-bottom content--sticky content--half bg-1" style="background-image: linear-gradient(179.96deg, rgba(0, 0, 0, 0) 39.19%, #000000 108.48%) , url({%static 'img/1.webp'%});">
                <h2 class="content__title">Исследование территории</h2>
                <p class="content__text">Проводим комплексное исследование локации, выявляя её потенциал и ограничения</p>
            </div>
            <!-- <div class="content content-bottom content--sticky content--half bg-1" style="background-image: url({%static 'img/2.webp'%});">
                <h2 class="content__title">Архитектура и инженерия</h2>
                <p class="content__text">Создаём архитектуру, где эстетика, функциональность и экономическая эффективность работают в балансе.</p>
            </div>
            <div class="content content-bottom content--sticky content--half bg-1" style="background-image: url({%static 'img/1.webp'%});">
                <h2 class="content__title">Исследование территории</h2>
                <p class="content__text">Проводим комплексное исследование локации, выявляя её потенциал и ограничения</p>
            </div> -->
        </div>
    </div>
    <div class="margin-400"></div>
    <section id="os-1">
        <div data-aos="fade-up" data-aos-duration="1000">
            <div class="mini-container">
                <div class="feedback-form fadeTextBlock">
                    <div class="feedback-form-text fc_ttl">
                        <h2>Превратим идею в архитектуру</h2>
                        <p>Индивидуальный подход к каждому проекту и гарантированное качество исполнения. Заполните форму, и мы подготовим персональное предложение.</p>
                    </div>
                    <div class="feedback-form-form block-scroll">
                        <form class="w-100 feedback-form">
                            <div class="d-flex gap-3 flex-md-row flex-column mb-3">
                                <input type="text" placeholder="Имя">
                                <input type="tel" placeholder="Номер телефона">
                            </div>
                            <div class="d-flex gap-3 mb-3 flex-md-row flex-column  mb-3">
                                <input type="text" placeholder="Электронная почта">
                                <input type="text" placeholder="Компания">
                            </div>
                            <textarea name="" id="" placeholder="Комментарий" class="mb-3"></textarea>
                            <div class="d-flex justify-content-between flex-md-row flex-column  mb-3">
                                <div class="d-flex align-items-center form-check mb-md-0 mb-3">
                                    <input class="form-check-input cursor-hover" type="checkbox" id="check-modal" name="check" value="yes" checked>
                                    <label class="m-0 ms-2"> Даю согласие на обработку <a href="" style="color: rgba(255, 255, 255, 0.5);" class="cursor-hover">персональных данных</a></label>
                                </div>
                                <button class="btn d-flex align-items-center cursor-hover" type="submit">
                                    Оставить заявку
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="margin-400"></div>
    <section id="our-command">
        <div data-aos="fade-up" data-aos-duration="1000">
            <div class="mini-container">
                <div class="fc_ttl">
                    <h2 style="margin-bottom: 32px;">Наша команда</h2>
                    <p class="our-command-desc">Каждый проект — это результат совместного творчества архитекторов, урбанистов, дизайнеров и инженеров. Именно такой командный подход позволяет нам создавать по-настоящему выдающиеся решения, где функциональность встречается с искусством.</p>
                </div>
                
                    <div class="employee-items block-scroll">
                        {%for empl in employees%}
                        <div class="employee-slide">
                            <img src="{{empl.image.url}}" alt="">
                            <p class="empl-name">{{empl.name}}</p>
                            <p class="empl-desc">{{empl.position}}</p>
                        </div>
                        {%endfor%}
                    </div>
            </div>
        </div>
    </section>

    <div class="margin-400"></div>
    <div data-aos="fade-up" data-aos-duration="1000">
        <div class="mini-container">
            <h2 class="fadeText mobile-mini">Технологии, которые делают наш продукт точным эффективным и коммерчески успешным</h2>
        </div>
    </div>
    <div class="margin-400"></div>
    <div data-aos="fade-up" data-aos-duration="1000">
        <div>

            <div class="content content--sticky content--sticky-bottom content--half bg-1" style="background-image: linear-gradient(179.96deg, rgba(0, 0, 0, 0) 31.38%, #000000 112.98%), url({%static 'img/7.webp'%});">
                <h2 class="content__title">GIS Analysis</h2>
                <p class="content__text">Используем GIS-аналитику, чтобы глубже понимать территорию и разрабатывать коммерчески успешные проекты.</p>
            </div>
            <div class="content content--sticky content--sticky-bottom content--half bg-1" style="background-image: linear-gradient(179.96deg, rgba(0, 0, 0, 0) 31.38%, #000000 112.98%), url({%static 'img/3.webp'%});;">
                <h2 class="content__title">BIM</h2>
                <p class="content__text">Применяем BIM-проектирование, чтобы создавать коммерчески эффективные объекты с точными расчётами и минимизированными рисками.</p>
            </div>
            <!-- <div class="content content--sticky content--half bg-1" style="background-image: url({%static 'img/7.webp'%});">
                <h2 class="content__title">GIS Analysis</h2>
                <p class="content__text">Используем GIS-аналитику, чтобы глубже понимать территорию и разрабатывать коммерчески успешные проекты.</p>
            </div>
            <div class="content content--sticky content--half bg-1" style="background-image: url({%static 'img/3.webp'%});">
                <h2 class="content__title">BIM</h2>
                <p class="content__text">Применяем BIM-проектирование, чтобы создавать коммерчески эффективные объекты с точными расчётами и минимизированными рисками.</p>
            </div> -->
        </div>
    </div>  
    <div class="margin-400"></div> 
    <div class="preloader">
         <div class="wave"></div>
    </div>  
{%endblock%}

    
{%block script%}


<!-- <script type="text/javascript" src="{%static 'js/aos.js' %}"></script> -->
<script src="{%static 'js/numbercount.js' %}"></script>
<script src="{%static 'js/v4/gsap.min.js'%}"></script>
<script src="{%static 'js/v4/ScrollTrigger.min.js'%}"></script>
<script src="{%static 'js/v4/imagesloaded.pkgd.min.js'%}"></script>
<script type="module" src="{%static 'js/v4/index.js'%}"></script>
<script defer src="{%static 'js/loader.js'%}"></script>


<!-- <script src="{%static 'js/v4/utils.js'%}"></script> -->
<script src="{%static 'js/v4/block-scroll.js'%}"></script>
<script>
    ScrollTrigger.batch(".fadeText", {
        onEnter: (batch) => gsap.to(batch, { 
            opacity: 0, 
            filter: "blur(10px)", 
            stagger: 0.1, 
            duration: 0.7,
        }),
        onLeaveBack: (batch) => gsap.to(batch, { 
            opacity: 1, 
            filter: "blur(0px)", 
            stagger: 0.1, 
            duration: 0.2,
        }),
        start: "top top+=300", 
        scrub: true,
        invalidateOnRefresh:true, 
    });
</script>

<script>
    // AOS.init();

    const scrollBlock = document.querySelector('.ma_video');
    
    window.addEventListener('scroll', () => {
        const scrollPosition = window.scrollY;
        const maxScroll = document.documentElement.scrollHeight - window.innerHeight - 2000;
        const brightness = 1 - Math.min(scrollPosition / maxScroll, 1);

        // Изменение фона блока в зависимости от прокрутки
        scrollBlock.style = `filter: brightness(${brightness});`;
    });

</script>


{%endblock%}