@font-face {
    font-family: 'Hauora Bold';
    src: local('Hauora Bold'), local('Hauora-Bold'),
        url('/static/fonts/Hauora-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Hauora Medium';
    src: local('Hauora Medium'), local('Hauora-Medium'),
        url('/static/fonts/Hauora-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Hauora Regular';
    src: local('Hauora Regular'), local('Hauora-Regular'),
        url('/static/fonts/Hauora-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Hauora';
    src: local('Hauora Light'), local('Hauora-Light'),
        url('/static/fonts/Hauora-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Akshar';
    src: local('Akshar Light'), local('Akshar-Light'),
        url('/static/fonts/Akshar-Light.ttf') format('truetype');
}

*:focus,
*:focus-visible {
    box-shadow: unset !important
}

body {
    color: rgba(255, 255, 255, 1);
    font-family: 'Hauora Regular';
    overflow-x: hidden;
    cursor: none !important;
}

* {
    cursor: none !important;
}

#cursor {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 1);
    opacity: 0.9;
}

.cursor-hover {
    cursor: none !important;
}

.cursor-active-hover {
    transform: scale(2);
}

a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.custom-container {
    max-width: 1700px;
    margin: 0 auto;
    width: 95%;
}

#preloader {
    display: none !important;
}

.big-container {
    width: 80%;
    margin: 0 auto;
}

.custom-container-right {
    margin-left: calc(((100vw - 1680px) / 2) - 8px);
}

.first-page-block {
    margin-top: 320px !important;
}

.header-links {
    font-family: Hauora;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: center;

}


.gap-100 {
    gap: 100px;
}


footer {
    font-size: 24px;
}

.footer-text {
    max-width: 1700px;
    left: calc(((100vw - 1680px) / 2) - 8px);
    z-index: 2;
}



.margin-400 {
    margin-bottom: 800px;
}

.mini-container {
    max-width: 1000px;
    margin: 0 auto;
    width: 95%;
}

.header-top {
    padding-top: 17px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 12px;
}


.header-top a {
    color: rgba(255, 255, 255, 0.8);
}

.hover-this {
    transition: all 0.3s ease;
}

.hover-this span {
    display: inline-block;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    pointer-event: none;
    transition: transform 0.1s linear;
    line-height: 100%;
}


.cursor {
    pointer-events: none;
    position: fixed;
    /* padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%; */
    transition: transform 0.3s ease;
}


.cursor.active {
    transform: translate(-50%, -50%) scale(8);
    cursor: none;
}

.cursor svg {
    display: none;
}



.hover-this span {
    font-size: 112px;
    font-weight: 800;
    font-family: 'Hauora Bold';
}

h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1%;
}



.feedback-form-text p {
    margin-top: 32px;
    font-weight: 500;
    font-size: 24px;
    margin-bottom: 60px;
    font-family: 'Hauora Regular';
    line-height: 150%;
}

.feedback-form-form input,
.feedback-form-form textarea {
    backdrop-filter: blur(24px);
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
}

.feedback-form-form .btn {
    color: rgba(255, 255, 255, 1);
    padding: 16px 26px;
    gap: 16px;
    border-width: 1px;
    font-family: Hauora;
    font-weight: 600;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0.5px;
    backdrop-filter: blur(32px);
    background: #FFFFFF1A;
    font-family: 'Hauora';
    width: 330px;
    justify-content: center;
}

.feedback-form-form .form-check-input {
    width: 22px;
    height: 22px;
    padding: 0;
    border: 1px solid #FFFFFF3D;
    border-radius: 8px;
    margin-left: -20px;
    cursor: pointer;
    margin-top: 0;
    flex-shrink: 0;
}

.feedback-form-form label {
    font-size: 16px;
}

.feedback-form-form label a {
    text-decoration: underline;
}


.footer-top {
    padding-bottom: 35px;
    margin-bottom: 24px;
    border-bottom: 1px solid #FFFFFF26;
}

.footer-bottom {
    color: #9D9D9DCC;
    font-size: 18px;
}

.bread li {
    display: initial;
}

.bread ul {
    padding-left: 0;
}

.bread a {
    font-size: 24px;
}

@media(max-width:1670px) {
    .big-container {
        width: 95%;
        margin: 0 auto;
    }
}

@media(max-width:1200px) {
    .first-page-block {
        margin-top: 280px !important;
    }
}

@media (max-width: 1160px) {
    .footer-top-mobile .footer-links {
        border-bottom: 1px solid rgb(0, 0, 0) !important;
    }

    .footer-bottom {
        border-top: 1px solid rgb(0, 0, 0) !important;
    }
}

@media(max-width:990px) {

    .feedback-form-form .btn,
    .feedback-form-form input,
    .feedback-form-form textarea {
        font-size: 20px;
    }

    .feedback-form-form input,
    .feedback-form-form textarea {
        padding: 20px;
    }

    .margin-400 {
        margin-bottom: 400px;
    }

    .feedback-form-text p {
        margin-top: 28px;
        margin-bottom: 50px;
        font-size: 20px;
    }

    h2 {
        font-size: 40px;
        line-height: 100%;
    }

    .first-page-block {
        margin-top: 200px !important;
    }
}

@media(max-width:768px) {

    .feedback-form-form .btn,
    .feedback-form-form input,
    .feedback-form-form textarea {
        font-size: 18px;
    }

    .feedback-form-form input,
    .feedback-form-form textarea {
        padding: 18px;
    }

    .margin-400 {
        margin-bottom: 200px;
    }

    .feedback-form-text p {
        margin-top: 24px;
        margin-bottom: 45px;
        font-size: 18px;
    }

    .feedback-form-form .btn {
        width: max-content;
    }

    h2 {
        font-size: 35px;
    }

    .first-page-block {
        margin-top: 150px !important;
    }

    #cursor{
        opacity: 0;
    }
}

@media(max-width:576px) {

    .feedback-form-form .btn,
    .feedback-form-form input,
    .feedback-form-form textarea {
        font-size: 16px;
    }

    .feedback-form-form input,
    .feedback-form-form textarea {
        padding: 16px;
    }

    .margin-400 {
        margin-bottom: 60px;
    }

    .feedback-form-text p {
        margin-top: 20px;
        margin-bottom: 40px;
        font-size: 16px;
    }

    h2 {
        font-size: 32px;
    }

    .first-page-block {
        margin-top: 90px !important;
    }

    .feedback-form-form .btn{
        width: 100%;
    }
}

@media(max-width:400px) {

    .feedback-form-form .btn {
        width: 100%;
        justify-content: center;
    }

}