@font-face {
    font-family: 'Hauora Bold';
    src: local('Hauora Bold'), local('Hauora-Bold'),
        url('/static/fonts/Hauora-Bold.ttf') format('truetype');
}


@font-face {
    font-family: 'Hauora Medium';
    src: local('Hauora Medium'), local('Hauora-Medium'),
        url('/static/fonts/Hauora-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Hauora Regular';
    src: local('Hauora Regular'), local('Hauora-Regular'),
        url('/static/fonts/Hauora-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Hauora';
    src: local('Hauora Light'), local('Hauora-Light'),
        url('/static/fonts/Hauora-Light.ttf') format('truetype');
}

*:focus,
*:focus-visible {
    box-shadow: unset !important
}

body {
    color: rgba(255, 255, 255, 1);
    font-family: 'Hauora' !important;
}

a {
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.custom-container {
    max-width: 1700px;
    margin: 0 auto;
    width: 95%;
}

#preloader{
    display: none !important;
}

.big-container {
    width: 80%;
    margin: 0 auto;
}

.custom-container-right {
    margin-left: calc(((100vw - 1680px) / 2) - 8px);
}

.header-links {
    font-family: Hauora;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: -1%;
    text-align: center;

}

.ma_video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
}

.gap-100 {
    gap: 100px;
}

footer::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        linear-gradient(180.06deg, #000000 0.05%, rgba(0, 0, 0, 0) 99.95%);
}

footer {
    font-size: 24px;
}

.footer-text {
    max-width: 1700px;
    left: calc(((100vw - 1680px) / 2) - 8px);
    z-index: 2;
}

.video-mask {
    -webkit-mask-image: url(/static/img/mask.svg);
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(/static/img/mask.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: unset;
    max-height: 330px;
    width: 1700px;
    object-fit: cover;
}

.footer-mask {
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin-400 {
    margin-bottom: 800px;
}

.mini-container {
    max-width: 1000px;
    margin: 0 auto;
    width: 95%;
}

.header-top {
    padding-top: 17px;
    font-size: 24px;
    color: rgba(255, 255, 255, 0.8);
    padding-bottom: 50px;
}


.header-top a {
    color: rgba(255, 255, 255, 0.8);
}

.hover-this {
    transition: all 0.3s ease;
}

.hover-this span {
    display: inline-block;
    font-family: 'Russo One', sans-serif;
    font-weight: 400;
    color: #fff;
    font-size: 36px;
    text-transform: uppercase;
    pointer-event: none;
    transition: transform 0.1s linear;
}


.cursor {
    pointer-events: none;
    position: fixed;
    /* padding: 0.3rem;
    background-color: #fff;
    border-radius: 50%; */
    transition: transform 0.3s ease;
}


.cursor.active {
    transform: translate(-50%, -50%) scale(8);
    cursor: none;
}

.cursor svg {
    display: none;
}

.fadeTextBlock,
.fc_ttl {
    transform: translateZ(0);
    will-change: transform, opacity, filter;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.fc_ttl {
    position: absolute;
    max-width: 1000px;
}

.promo-text {
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1%;
    position: absolute;
    z-index: 10;
    bottom: -350px;
    width: 100%;
}

/* Скрываем блок по умолчанию */
.hide-on-load {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease, visibility 0s 1s;
}

/* Блок становится видимым при прокрутке */
.show-on-scroll {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s ease;
}

.promo-text p {
    margin: 0 auto;
    max-width: 976px;
}

.header-links a span {
    font-size: 112px;
    font-weight: 800;
    font-family: 'Hauora Bold';
}

h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -1%;
}


.numbers-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 200px;


}

.block-scroll {
    padding-top: 70%;
}

.number-num {
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
}

.number-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
}

.numbers-item {
    padding-left: 24px;
    border-left: 1px solid rgba(255, 255, 255, 1);
}

.feedback-form-text p {
    margin-top: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1%;
    margin-bottom: 60px;
}

.feedback-form-form input,
.feedback-form-form textarea {
    backdrop-filter: blur(24px);
    padding: 24px;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 24px;
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
}

.feedback-form-form .btn {
    color: rgba(255, 255, 255, 1);
    padding: 12px 24px;
    gap: 16px;
    border-radius: 100px;
    border-width: 1px;
    font-family: Hauora;
    font-weight: 400;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1%;
    backdrop-filter: blur(32px);
    background: #FFFFFF1A;

}

.feedback-form-form .form-check-input {
    width: 22px;
    height: 22px;
    padding: 0;
    border: 1px solid rgba(255, 255, 255, 0.24);
    margin-left: -20px;
    cursor: pointer;
}

.feedback-form-form label {
    font-size: 16px;
}

.feedback-form-form label a {
    text-decoration: underline;
}

.our-command-desc {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -1%;
    margin-bottom: 80px;
}

.employee-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 20px;
}

.empl-desc {
    color: rgba(255, 255, 255, 0.55);
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: -2%;
}

.content__title {
    font-family: Hauora;
    font-weight: 600;
    font-size: 60px;
    line-height: 70px;
    letter-spacing: -2%;
    text-align: center;
    max-width: 700px;
}

.content__text {
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: -2%;
    text-align: center;
}

.content--sticky {
    background-repeat: repeat !important;
    background-size: cover !important;
}

.content-bottom {
    justify-content: end !important;
    align-items: baseline !important;
    padding: 80px !important;
    text-align: start !important;
}

.content-bottom .content__title {
    max-width: 740px;
    text-align: start !important;
}



.content-bottom .content__text {
    max-width: 740px;
    text-align: start !important;
}

.footer-top {
    padding-bottom: 35px;
    margin-bottom: 24px;
    border-bottom: 1px solid #FFFFFF26;
}

.footer-bottom {
    color: #9D9D9DCC;
    font-size: 18px;
}

@media(max-width:1670px) {
    .big-container {
        width: 95%;
        margin: 0 auto;
    }
}