.portfolio-item-desc-right .top-left {
    max-width: unset;
}

.portfolio-item-wrapper {
    flex-shrink: 0;
}

.portfolio-item .portfolio-item-desc-right .top-left{
    font-weight: 700;
}

.portfolio-item:hover .portfolio-item-desc-right .top-left {
    color: #FF0000;
    transition: .3s;
}

@media (max-width: 1500px) {
    .portfolio-item {
        margin-left: 15%;
    }
}

@media (max-width: 1200px) {
    .portfolio-item {
        margin-left: 10%;
    }
}

@media (max-width: 990px) {
    .portfolio-item {
        margin-left: 0;
    }
}