.portfolio-item-desc-right .top-left {
    max-width: unset;
}

.portfolio-item {
    margin-left: 12rem;
}

.portfolio-item-wrapper {
    width: 50rem;
    flex-shrink: 0;
}

.portfolio-item .portfolio-item-desc-right .top-left {
    font-weight: 700;
}

.portfolio-item:hover .portfolio-item-desc-right .top-left {
    color: #FF0000;
    transition: .3s;
}

@media (min-width: 1800px) {

    .portfolio-item-wrapper {
        width: 800px;
    }

    .portfolio-item {
        margin-left: 435px;
    }
}


@media (max-width: 1200px) {
    .portfolio-item {
        margin-left: 10%;
    }
}

@media (max-width: 990px) {

    .portfolio-item-wrapper {
        width: 100%;
    }

    .portfolio-item {
        margin-left: 0;
    }
}