.header-link-1 {
    margin-left: 5px;
}

.header-link-2 {
    margin-left: 180px;
}

.header-group-2 {
    margin-left: -15px;
}

.header-link-3 {
    margin-right: 15px;
}

.header-link-4 {
    margin-left: 55px;
    margin-right: -65px;
}

.feedback-form {
    margin-bottom: 140px;
}

.footer-text {
    width: 100%;
}

footer {
    font-size: 1.5rem;
}

.footer-bottom {
    margin-top: 24px !important;
}

.footer-top-mobile {
    display: none;
}

@media(max-width:1700px) {

    .footer-top,
    .footer-bottom {
        width: 95%;
        margin: 0 auto;
    }
}


@media(max-width:990px) {

    .footer-top-mobile .footer-links {
        border-bottom: 1px solid rgb(0, 0, 0) !important;
    }

    .footer-bottom {
        border-top: 1px solid rgb(0, 0, 0) !important;
    }

    .footer-logo {
        display: none;
    }

    .footer-top {
        flex-direction: column;
        margin-top: 60px;
        justify-content: start !important;
    }

    .footer-top-mobile {
        display: block;
        width: 95%;
        margin: 0 auto;
        margin-top: 60px;
    }

    .footer-top-mobile .footer-links {
        padding-bottom: 16px;
        border-bottom: 1px solid rgba(255, 255, 255, 1);
        margin-bottom: 16px;
    }

    .footer-top {
        display: none !important;
    }

    .footer-text {
        bottom: 0 !important;
    }

    .footer-bottom {
        padding-top: 16px;
        border-top: 1px solid rgba(255, 255, 255, 1);
        margin-top: 16px;
        color: rgba(255, 255, 255, 1);
    }

    .header-top {
        display: none !important;
    }

    header {
        padding-top: 35px;
    }

    .footer-background,
    footer::after {
        display: none;
    }

    .footer-text,
    .feedback-form {
        position: unset !important;
    }

    footer {
        font-size: 14px;
    }

    .feedback-form {
        margin-bottom: 0;
    }
}

@media(max-width:768px) {

    footer {
        font-size: 18px;
    }
}

@media(max-width:690px) {
    .footer-bottom .justify-content-between {
        flex-direction: column;
    }

    .footer-bottom .footer-links {
        gap: unset !important;
        justify-content: space-between;
    }

    .footer-bottom .footer-links:first-child p:nth-child(2) {
        margin-left: -15px;
    }
}

@media(max-width:576px) {
    .hover-this span {
        font-size: 22px;
    }

    footer,
    .footer-bottom {
        font-size: 16px !important;
    }

}