.ma_video {
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
}

.gsap-marker-end,
.gsap-marker-start,
.gsap-marker-scroller-end,
.gsap-marker-scroller-start {
    color: transparent !important;
    border-color: transparent !important;
}

.video-mask {
    -webkit-mask-image: url(/static/img/mask.svg);
    -webkit-mask-position: center center;
    -webkit-mask-repeat: no-repeat;
    mask-image: url(/static/img/mask.svg);
    mask-position: center center;
    mask-repeat: no-repeat;
    mask-size: unset;
    max-height: 330px;
    width: 1700px;
    object-fit: cover;
}

.footer-mask {
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fadeTextBlock,
.fc_ttl {
    transform: translateZ(0);
    will-change: transform, opacity, filter;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

.fc_ttl {
    max-width: 1000px;
}

.promo-text {
    font-weight: 500;
    font-size: 2.5rem;
    position: absolute;
    z-index: 10;
    bottom: -350px;
    width: 100%;
}


.hide-on-load {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.5s ease, visibility 0s 1s;
}


.show-on-scroll {
    opacity: 1;
    visibility: visible;
    transition: opacity 1.5s ease;
}

.promo-text p {
    margin: 0 auto;
    max-width: 55rem;
    font-family: 'Hauora Medium';
    font-weight: 500;
}

.our-command-desc {
    font-weight: 500;
    font-size: 1.25rem;
    margin-top: 1.4rem;
}

.employee-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px 20px;
}


.employee-items img {
    width: 100%;
    object-fit: contain;
    margin-bottom: 0.9rem;
}

.empl-desc {
    color: rgba(255, 255, 255, 0.55);
    font-weight: 400;
    font-size: 1rem;
    line-height: 100%;
    letter-spacing: -2%;
}


.empl-name {
    font-size: 1.25rem;
    margin-bottom: 8px;
}

.content__title {
    font-family: 'Hauora Medium';
    font-weight: 600;
    text-align: center;
    max-width: 45rem;
}

.content__text {
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    max-width: 45rem;
    line-height: 150%;
}

.content--sticky {
    background-repeat: repeat !important;
    background-size: cover !important;
}

.content-bottom {
    justify-content: end !important;
    align-items: baseline !important;
    padding: 80px !important;
    text-align: start !important;
}

.content-bottom .content__title {
    max-width: 740px;
    text-align: start !important;
}



.content-bottom .content__text {
    max-width: 740px;
    text-align: start !important;
}


.numbers-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem 5rem;
}

.block-scroll {
    padding-top: 70%;
}

.block-sticky {
    position: sticky;
    z-index: 999;
    padding-top: 70%;
    bottom: unset;
}

.block-absolute {
    position: absolute;
    padding-top: calc(70% + 200px);
    top: unset;
}

.number-num {
    font-family: 'Hauora Medium';
    font-weight: 500;
    font-size: 2.5rem;
}

.number-desc {
    font-weight: 400;
    font-size: 1.1rem;
}

.numbers-item {
    padding-left: 1.25rem;
    border-left: 1px solid rgba(255, 255, 255, 1);
}

#our-command .mini-container {
    filter: blur(0px);
    opacity: 1;
}

.after-promo-index-block {
    margin-top: 750px;
}



.margin-200 {
    margin-bottom: 200px;
}

@media(min-width:1800px) {
    .employee-items img {
        width: 318px;
        height: 304px;
        margin-bottom: 16px;
    }

    .numbers-items {
        gap: 60px 200px;
    }

    .numbers-item{
        padding-left: 24px;
    }

    .promo-text p {
        max-width: 976px;
    }

    .content__title,
    .number-num,
    .promo-text {
        font-size: 48px;
    }

    .content__title,
    .content__text {
        max-width: 700px;
    }

    .content__text,
    .empl-name,
    .our-command-desc,
    .empl-name {
        font-size: 24px;
    }

    .our-command-desc {
        margin-top: 32px;
    }

    .number-desc,
    .empl-desc {
        font-size: 18px;
    }
}

@media(max-width:1200px) {
    .promo-text {
        top: 100vh;
        bottom: 0;
        position: relative;
        width: 80%;
        margin: 0 auto;
        line-height: 100%;
    }

    .content__text {
        width: 90%;
    }
}

@media(max-width:1100px) {
    .employee-items {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media(max-width:990px) {

    .promo-text p,
    .content__title,
    .content__text {
        max-width: unset;
        text-align: left;
    }

    .promo-text,
    .number-num {
        font-size: 35px;
    }

    .our-command-desc {
        margin-top: 32px;
    }

    .mobile-mini {
        filter: blur(0px) !important;
        opacity: 1 !important;
    }

    .content--half {
        justify-content: end !important;
        align-items: baseline !important;
        padding: 60px !important;
        text-align: start !important;
    }

    .content__text {
        text-align: start;
        font-weight: 500;
    }

    .number-desc,
    .empl-name,
    .content__text {
        font-size: 18px;
    }

    .empl-desc {
        font-size: 14px;
    }

    .number-num {
        margin-bottom: 8px;
    }

    .block-scroll,
    #numbers-block {
        padding-top: 0;
    }

    .employee-items {
        gap: 50px 20px;
    }

    .after-promo-index-block {
        margin-top: 350px;
    }

    .fc_ttl {
        position: relative;
    }

    .our-command-desc {
        margin-bottom: 40px;
    }

    .promo-text {
        top: 50vh;
    }

    #numbers-block h2 {
        margin-bottom: 40px;
    }

    .numbers-items {
        gap: 60px 10px;
        padding-left: 20px;
    }
}

@media(max-width:768px) {
    .number-num {
        font-size: 32px;
    }


    .promo-text,
    #numbers-block h2,
    .mobile-mini {
        font-size: 30px;
    }

    .promo-text {
        width: 95%;
    }

    .content__title,
    .feedback-form h2,
    .number-num {
        font-size: 35px;
    }

    .content--half {
        padding: 100px 30px !important;
        gap: 20px;
    }

    .content__text,
    .feedback-form-text p,
    .our-command-desc {
        font-size: 16px;
    }

    .fc_ttl {
        max-width: 95%;
    }

    .numbers-items {
        gap: 40px;
    }

    .employee-items {
        gap: 40px 20px;
    }

    .employee-items img {
        width: 100%;
        height: 200px;
    }

    .after-promo-index-block {
        margin-top: 200px;
    }

    .our-command-desc {
        margin-bottom: 30px;
    }
}

@media(max-width:576px) {

    .promo-text,
    .mobile-mini {
        font-size: 20px;
    }

    .content__title,
    .feedback-form h2,
    .number-num {
        font-size: 32px;
    }

    .number-desc {
        font-size: 14px;
    }

    #numbers-block h2 {
        font-size: 22px;
    }

    .content--half {
        padding: 100px 16px !important;
    }

    .numbers-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
    }

    .number-desc,
    .empl-desc {
        font-size: 14px;
    }

    .employee-items {
        gap: 24px 12px;
    }

    .employee-items img {
        width: 158px;
        height: 170px;
    }

    .content--half {
        gap: 20px;
    }

    #os-1 {
        margin-top: -20px;
    }


    .our-command-desc {
        margin-bottom: 24px;
    }
}