h2 {
    font-family: 'Hauora Medium';
    font-weight: 500;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 50px;
}

h3 {
    font-family: 'Hauora Medium';
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 80px;
}

.office-back {
    position: absolute;
    top: 0;
    width: 100vw;
    object-fit: cover;
    z-index: -1;
    height: 100%;
}

.header-inverted .hover-this span,
.header-inverted .header-top a,
.header-inverted .header-top {
    color: rgb(255, 255, 255);
}

.manifest {
    margin-top: 400px;
}

.first-h2 {
    color: rgba(255, 255, 255, 1);
}

#office-title {
    margin-top: 287px !important;
}

#office-title p {
    margin-bottom: 32px;
    font-weight: 500;
    font-size: 24px;
    line-height: 150%;
}

.people-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
}

.people-item img {
    width: 312px;
    height: 312px;
    object-fit: contain;
}

.peolple-name {
    margin-top: 16px;
    font-weight: 600;
    font-size: 24px;
}

.peolple-desc {
    margin-top: 8px;
    font-size: 18px;
    font-weight: 400;
}

.vacancies-item {
    font-family: 'Hauora Medium';
    padding-bottom: 12px;
    border-bottom: 1px solid #0D1014;
    color: #0D1014;
    font-size: 24px;
    margin-top: 8px;
    font-weight: 500;
    transition: .3s;
}

.vacancies-item:first-child {
    border-top: 1px solid #0D1014;
    padding-top: 12px;
}

.vacancies-item:hover {
    transition: .3s;
    color: rgb(255, 0, 0);
}

.big-text {
    margin: 140px 0;
}


@media(min-width:2000px) {
    .office-back {
        height: unset;
        top: -40%;
    }
}

@media(min-width:3700px) {
    .office-back {
        top: -60%;
    }
}


@media(min-width:4300px) {
    .office-back {
        top: -70%;
    }
}

@media(min-width:5700px) {
    .office-back {
        top: -85%;
    }
}

@media(max-width:2000px) {
    .office-back {
        height: 100%;
        object-fit: cover;
    }
}

@media(max-width:1200px) {
    #office-title h2 {
        font-size: 48px;
    }

    #office-title {
        margin-top: 180px !important;
    }

    .manifest {
        margin-top: 200px;
    }

    .office-back {
        height: 80%;
    }
}

@media(max-width:1100px) {
    .people-item img {
        width: 280px;
    }
}

@media(max-width:990px) {
    #office-title h2 {
        font-size: 32px;
        line-height: 50px;
        margin-bottom: 0;
    }

    h3 {
        font-size: 48px;
        margin-top: 100px;
        margin-bottom: 48px;
        line-height: 100%;
    }

    #office-title p {
        font-size: 22px;
    }

    .big-text {
        margin: 100px 0;
    }

    .people-items {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px 20px;
    }

    .people-item img {
        width: 100%;
    }

    .vacancies-items a {
        font-size: 20px;
    }

    h2 {
        font-size: 40px;
        line-height: 100%;
    }

    .office-back {
        height: 47%;
    }

}

@media(max-width:768px) {
    #office-title h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 36px;
        margin-bottom: 24px;
    }

    #office-title p {
        font-size: 18px;
    }

    .people-items {
        gap: 40px 18px;
    }

    .peolple-desc,
    .peolple-name {
        font-size: 16px;
    }

    .people-item img {
        object-fit: cover;
    }

    .vacancies-items a {
        font-size: 18px;
    }

    h2 {
        font-size: 35px;
    }

    .office-back {
        height: 55%;
    }
}

@media(max-width:576px) {
    #office-title h2 {
        font-size: 24px;
        line-height: 30px;
    }

    h3 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    #office-title p {
        margin-bottom: 24px;
        font-size: 16px;
    }

    .people-items {
        gap: 40px 12px;
    }

    .peolple-desc,
    .peolple-name {
        font-size: 14px;
    }

    .people-item img {
        height: 180px;
        object-fit: cover;
        width: 130px;
    }

    .vacancies-items a {
        font-size: 16px;
    }

    h2 {
        font-size: 32px;
    }


    #office-title {
        margin-top: 100px !important;
    }

    .manifest {
        margin-top: 150px;
    }

    .office-back {
        height: 48%;
    }
}