h2 {
    font-family: 'Hauora Medium';
    font-weight: 500;
    margin-bottom: 2rem;
}

h3 {
    font-family: 'Hauora Medium';
    font-weight: 700;
    font-size: 3.75rem;
    line-height: 1.5;
    margin-bottom: 80px;
}

.office-back {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 90rem;
    object-fit: cover;
    z-index: -1;
}

.header-inverted .hover-this span,
.header-inverted .header-top a,
.header-inverted .header-top {
    color: rgb(255, 255, 255);
}

.manifest {
    margin-top: 25rem;
    margin-bottom: 7rem;
}

.first-h2 {
    color: rgba(255, 255, 255, 1);
}

#office-title {
    margin-top: 287px !important;
}

#office-title p {
    margin-bottom: 1.4rem;
    font-weight: 500;
    font-size: 1.25rem;
    line-height: 150%;
}

.people-items {
    grid-template-columns: repeat(3, 1fr);
    gap: 40px 20px;
}

.people-item img {
    width: 100%;
    object-fit: contain;
}

.peolple-name {
    margin-top: 16px;
    font-weight: 600;
    font-size: 1.25rem;
}

.peolple-desc {
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 400;
}

.vacancies-item {
    font-family: 'Hauora Medium';
    padding-bottom: 12px;
    border-bottom: 1px solid #0D1014;
    color: #0D1014;
    font-size: 1.25rem;
    margin-top: 8px;
    font-weight: 500;
    transition: .3s;
}

.vacancies-item:first-child {
    border-top: 1px solid #0D1014;
    padding-top: 12px;
}

.vacancies-item:hover {
    transition: .3s;
    color: rgb(255, 0, 0);
}

.big-text {
    margin: 140px 0;
}

#office-vacancies {
    margin-top: 140px;
}

.mini-container {
    position: static;
}

.feedback-form-text h2 {
    margin-bottom: 0;
}

@media(max-width:1200px) {
    #office-title {
        margin-top: 180px !important;
    }

    .manifest {
        margin-top: 200px;
        margin-bottom: 80px;
    }
}


@media(min-width:1200px) {

    .office-back {
        height: 110rem;
    }
}

@media(min-width:1800px) {

    .office-back {
        height: 2000px;
    }

    .people-item img {
        width: 312px;
        height: 312px;
        object-fit: contain;
    }


    .manifest {
        margin-top: 400px;
        margin-bottom: 100px;
    }

    #office-title p {
        margin-bottom: 32px;
        font-size: 24px;
    }

    #office-title p,
    .peolple-name,
    .peolple-desc,
    .vacancies-items a {
        font-size: 24px;
    }
}

@media(min-width:2700px) {
    .office-back {
        top: -1000px;
        height: 100%;
    }
}

@media(min-width:3300px) {

    .office-back {
        
    }
}


@media(max-width:990px) {

    #office-vacancies {
        margin-top: 100px;
    }

    h3 {
        font-size: 3rem;
        margin-top: 100px;
        margin-bottom: 48px;
        line-height: 100%;
    }

    #office-title {
        margin-top: 120px !important;
    }

    .big-text {
        margin: 100px 0;
    }

    .people-items {
        gap: 40px 20px;
    }

    .people-item img {
        width: 100%;
    }

    .office-back {
        height: 900px;
    }

    .vacancies-items a {
        font-size: 1.25rem;
    }
}

@media(max-width:768px) {
    #office-title h2 {
        font-size: 28px;
    }

    h3 {
        font-size: 36px;
        margin-bottom: 24px;
    }

    #office-title p {
        font-size: 18px;
    }

    .people-items {
        gap: 40px 18px;
    }

    .peolple-desc,
    .peolple-name {
        font-size: 16px;
    }

    .people-item img {
        object-fit: cover;
    }

    .vacancies-items a {
        font-size: 18px;
    }

    h2 {
        font-size: 35px;
    }

    .people-items {
        grid-template-columns: repeat(2, 1fr);
    }

}


@media(max-width:576px) {
    .office-back {
        height: 850px;
    }

    #office-title h2 {
        font-size: 24px;
        line-height: 30px;
    }

    h3 {
        font-size: 32px;
        margin-bottom: 16px;
    }

    #office-title p {
        margin-bottom: 24px;
        font-size: 16px;
    }

    .people-items {
        gap: 40px 12px;
    }

    .peolple-desc,
    .peolple-name {
        font-size: 14px;
    }

    .people-item img {
        height: 180px;
        object-fit: cover;
        width: 130px;
    }

    .vacancies-items a {
        font-size: 16px;
    }

    h2 {
        font-size: 32px;
    }


    #office-title {
        margin-top: 100px !important;
    }

    .manifest {
        margin-top: 150px;
        margin-bottom: 40px;
    }
}

@media(max-width:360px) {
    .office-back {
        height: 1150px;
    }
}