.portfolio-top-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.portfolio-top-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 461px;
}


#portfolio-page h2 {
    font-family: 'Hauora Bold';
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 70px;
    margin-left: 520px;
}

.portfolio-item img {
    width: 700px;
    height: 433px;
    object-fit: cover;
}

.portfolio-item {
    height: 433px;
    margin-bottom: 150px;
    display: flex;
    margin-left: 20%;
}

.portfolio-item-desc-left {
    font-family: 'Hauora Regular';
    margin-right: 20px;
    font-size: 24px;
    font-weight: 500;
    left: calc(-40% - 20px);
    width: max-content;
    position: absolute;
    align-items: end;
}

.portfolio-item-desc-right {
    margin-left: 80px;
    font-size: 24px;
    font-family: 'Hauora Regular';
    font-weight: 500;
}

.portfolio-item-desc-right .top-left {
    font-weight: 700;
    transition: .5s;
}

table {
    color: white !important;
    font-size: 24px;
}

.font-weight-bold {
    font-weight: 800;
}

.table {
    color: #0D1014 !important;
    font-size: 24px;
}

.modal-container {
    height: 350px;
    width: 400px;
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-slider {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top .5s cubic-bezier(.76, 0, .24, 1);
}

.style_modal {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style_modal img {
    height: 70%;
    object-fit: cover;
}

.portfolio-item:hover .portfolio-item-desc-right .top-left {
    color: #FF0000;
    transition: .3s;
}

/* .portfolio-item:hover,
.table-portfolio-items:hover{
    cursor: none;
} */

.portfolio-item:hover {
    color: #0D1014;
}

.active-portfolio svg {
    display: block;
    width: 24px;
    height: 15px;
    transform: scale(1);

}

.active-portfolio {
    background-color: #0D1014;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 50%;
}


.portfolio-item-desc-left .top-left {
    max-width: 150px;
}

@media(max-width:1700px) {
    #portfolio-page h2 {
        margin-left: 31%;
    }
}

@media(max-width:1500px) {

    .portfolio-item img {
        width: 600px;
        height: 333px;
    }

    .portfolio-item {
        height: 333px;
        margin-left: 25%;
    }

    .portfolio-item-desc-left {
        left: calc(-40% - 60px);
    }
}

@media(max-width:1200px) {
    #portfolio-page h2 {
        margin-left: 25%;
    }

    .portfolio-item img {
        width: 500px;
        height: 333px;
    }

    .portfolio-item {
        height: 333px;
        margin-left: 25%;
    }

    .portfolio-item-desc-left {
        left: calc(-40% - 20px);
        width: 40%;
    }

    .portfolio-item-desc-right {
        margin-left: 50px;
    }
}

@media(max-width:990px) {
    #portfolio-page h2 {
        margin-left: 0;
    }

    .portfolio-item {
        height: unset;
        margin-left: 0;
        margin-bottom: 100px;
    }

    .portfolio-item img {
        width: 100%;
        height: 350px;
    }

    .portfolio-item-desc-right {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .portfolio-item-desc-left {
        width: 100%;
        position: initial;
        height: unset !important;
        text-align: start !important;
        align-items: start;
        margin-top: 12px;
    }

    .portfolio-item-desc-right,
    .portfolio-item-desc-left {
        font-size: 20px;
    }

    #portfolio-page h2 {
        margin-bottom: 34px;
        font-size: 52px;
    }

    .portfolio-item-desc-left .top-left {
        max-width: unset;
        margin-bottom: 4px;
    }

    .table-portfolio-item {
        border-bottom: 1px solid rgba(13, 16, 20, 1);
        padding-bottom: 16px;
        margin-bottom: 16px;
    }

    .modal-container {
        display: none !important;
    }

    .table-portfolio-items {
        font-size: 20px;
    }

    .table-portfolio-item-title {
        font-weight: 500;
        font-size: 24px;
        line-height: 100%;
        color: rgba(13, 16, 20, 1);
    }

    .table-portfolio-item-desc {
        color: rgba(13, 16, 20, 0.8);
        font-size: 18px;
        font-weight: 500;
    }

    .table-portfolio-item.active{
        font-family: 'Hauora Medium';
    }

    .table-portfolio-item.active .table-portfolio-item-title,
    .table-portfolio-item.active  .table-portfolio-item-desc{
        font-weight: 700;
    }
}


@media(max-width:768px) {
    .portfolio-item-desc-right {
        margin-bottom: 18px;
        font-size: 18px;
    }

    .portfolio-item-desc-left {
        font-size: 18px;
    }

    #portfolio-page h2 {
        margin-bottom: 28px;
        font-size: 48px;
        text-align: left !important;
    }

    .portfolio-item {
        margin-bottom: 60px;
    }

    .table-portfolio-item-title {
        font-size: 22px;
    }

    .table-portfolio-item-desc {
        font-size: 16px;
    }
}

@media(max-width:576px) {
    .portfolio-item-desc-right {
        margin-bottom: 16px;
        font-size: 16px;
    }

    .portfolio-item-desc-left {
        font-size: 16px;
    }

    #portfolio-page h2 {
        margin-bottom: 24px;
        font-size: 32px;
    }

    .portfolio-item {
        margin-bottom: 40px;
    }

    .table-portfolio-item-title {
        font-size: 18px;
    }

    .table-portfolio-item-desc {
        font-size: 14px;
    }
}