.portfolio-top-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.portfolio-top-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 461px;
}

#portfolio-page {
    margin-top: 356px;
    margin-bottom: 140px;
    width: 85%;
}

#portfolio-page h2 {
    font-family: 'Hauora Bold';
    font-weight: 800;
    font-size: 60px;
    line-height: 70px;
    margin-bottom: 70px;
    margin-left: 25%;
}

.portfolio-item img{
    width: 700px;
    height: 433px;
    object-fit: cover;
    /* margin-left: 43%; */
}

.portfolio-item{
    height: 433px;
    margin-bottom: 150px;
    display: flex;
    margin-left: 20%;
}

.portfolio-item-desc-left{
    font-family: 'Hauora Regular';
    margin-right: 20px;
    font-size: 24px;
    font-weight: 500;
    left: calc(-40% - 20px);
    width: max-content;
}

.portfolio-item-desc-right{
    margin-left: 80px;
    font-size: 24px;
    font-family: 'Hauora Regular';
    font-weight: 500;
}

.portfolio-item-desc-right .top-left{
    font-weight: 700;
    transition: .5s;
}

table{
    color: white !important;
    font-size: 24px;
}

.font-weight-bold{
    font-weight: 800;
}

.table{
    color: #0D1014 !important;
    font-size: 24px;
}

.modal-container {
    height: 350px;
    width: 400px;
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-slider {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top .5s cubic-bezier(.76, 0, .24, 1);
}

.style_modal {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style_modal img {
    height: 70%;
    object-fit: cover;
}

.portfolio-item:hover .portfolio-item-desc-right  .top-left{
    color: #FF0000;
    transition: .3s;
}

/* .portfolio-item:hover,
.table-portfolio-items:hover{
    cursor: none;
} */

.portfolio-item:hover{
     color: #0D1014;
}

.active-portfolio  svg{
    display: block;
    width: 24px;
    height: 15px;
    transform: scale(1);
   
}

.active-portfolio{
    background-color: #0D1014;
    width: 52px;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%) scale(1);
     border-radius: 50%;
}