.portfolio-top-items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 22px;
}

.portfolio-top-items img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-height: 461px;
}


#portfolio-page h2 {
    margin-bottom: 70px;
    margin-left: 332px;
    color: #1d1d1f;
}

.portfolio-item-wrapper {
    width: 975px;
    height: 433px;
    object-fit: cover;
}

.portfolio-item-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-item {
    height: 433px;
    margin-bottom: 150px;
    display: flex;
}

.portfolio-item-desc-left {
    font-family: 'Hauora Regular';
    margin-right: 20px;
    font-size: 1.8rem;
    font-weight: 500;
    align-items: end;
    width: 312px;
}

.portfolio-item-desc-right {
    margin-left: 20px;
    font-size: 1.8rem;
    font-family: 'Hauora Regular';
    font-weight: 500;
}

.portfolio-item-desc-right .top-left {
    max-width: 150px;
}

.portfolio-item-desc-left .top-left {
    font-weight: 700;
    transition: .5s;
}

.table>:not(caption)>*>* {
    padding: 20px;
    border-bottom: 1px solid rgba(13, 16, 20, 1)
}

table {
    color: white !important;
    font-size: 1.5rem;
}

.font-weight-bold {
    font-weight: 800;
}

.table {
    color: #0D1014 !important;
    font-size: 1.25rem;
}

.modal-container {
    height: 350px;
    width: 400px;
    position: absolute;
    background-color: #fff;
    overflow: hidden;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 95;
}

.modal-slider {
    height: 100%;
    width: 100%;
    position: absolute;
    transition: top .5s cubic-bezier(.76, 0, .24, 1);
}

.style_modal {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.style_modal img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-item:hover .portfolio-item-desc-left .top-left {
    color: #FF0000;
    transition: .3s;
}

/* .portfolio-item:hover,
.table-portfolio-items:hover{
    cursor: none;
} */

.portfolio-item:hover {
    color: #0D1014;
}

.active-portfolio-right svg,
.active-portfolio-left svg {
    display: block;
    width: 24px;
    height: 15px;
    transform: scale(1);
}

.active-portfolio-left svg {
    transform: rotateZ(180deg);
}

.active-portfolio-right,
.active-portfolio-left {
    background-color: #0D1014;
    width: 52px !important;
    height: 52px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 50%;
}

.active-portfolio-table {
    clip-path: polygon(37.25% 9.57%, 40.37% 3.66%, 44.87% 0.00%, 51.74% 0.00%, 56.37% 2.54%, 60.16% 6.56%, 63.12% 11.79%, 98.32% 75.69%, 100.00% 83.05%, 99.01% 88.94%, 98.10% 95.47%, 94.42% 99.12%, 89.91% 100%, 14.91% 99.40%, 6.32% 97.66%, 1.04% 92.80%, 0.00% 84.55%, 1.96% 75.89%);
    border-radius: 5px;
    z-index: 100;
    transform: rotateZ(317deg);
}


.swiper-photos {
    width: 100%;
    height: 100%;
}

.swiper--next {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
}

.swiper--prev {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
}

.swiper-pagination {
    position: absolute;
    bottom: 0;
    z-index: 10;
    left: 50%;
    display: none;
}

.swiper-pagination-bullet {
    background: white;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background: white;
    opacity: 1;
}

@media(min-width:1800px) {

    .portfolio-item-desc-left,
    .portfolio-item-desc-right,
    .table {
        font-size: 20px;
    }
}

@media(max-width:1500px) {
    .portfolio-item-wrapper {
        width: 800px;
        height: 333px;
    }

    .portfolio-item {
        height: 333px;
    }
}

@media(max-width:1200px) {
    .portfolio-item-wrapper {
        width: 600px;
        height: 333px;
    }

    .portfolio-item {
        height: 333px;
    }

    .portfolio-item-desc-left {
        width: 250px;
    }

    #portfolio-page h2 {
        margin-left: 270px;
    }
}

@media(max-width:990px) {
    #portfolio-page h2 {
        margin-left: 0;
    }

    .portfolio-item {
        height: unset;
        margin-left: 0;
        margin-bottom: 20px;
    }

    .portfolio-item-wrapper {
        width: 100%;
        height: 350px;
    }

    .portfolio-item-desc-right {
        margin-left: 0;
        margin-bottom: 20px;
    }

    .portfolio-item-desc-left {
        width: 100%;
        position: initial;
        height: unset !important;
        text-align: start !important;
        align-items: start;
        margin-top: 12px;
    }

    .portfolio-item-desc-right,
    .portfolio-item-desc-left {
        font-size: 1.8rem;
    }

    #portfolio-page h2 {
        margin-bottom: 34px;
        font-size: 3.25rem;
    }

    .portfolio-item-desc-left .top-left {
        max-width: unset;
        margin-bottom: 4px;
    }

    .table-portfolio-item {
        font-weight: 700;
        border-bottom: 1px solid rgba(13, 16, 20, 1);
        padding-bottom: 16px;
        margin-bottom: 16px;
    }

    .modal-container {
        display: none !important;
    }

    .table-portfolio-items {
        font-size: 1.25rem;
    }

    .table-portfolio-item-title {
        font-size: 1.125rem;
        color: rgba(13, 16, 20, 1);
        margin-bottom: 8px;
    }

    .table-portfolio-item-desc {
        color: rgba(13, 16, 20, 0.8);
        font-size: 0.8rem;
        font-weight: 700;
        line-height: 19px;
    }

    .table-portfolio-item.active {
        font-family: 'Hauora Medium';
    }

    .table-portfolio-item.active .table-portfolio-item-title,
    .table-portfolio-item.active .table-portfolio-item-desc {
        font-weight: 700;
    }

    table.table-portfolio-items {
        display: none;
    }

    .swiper-pagination {
        display: block;
    }

    .swiper--next,
    .swiper--prev {
        z-index: unset;
    }

    .portfolio-item-desc-right .top-left {
        max-width: unset;
    }
}

.mini-container {
    position: static;
}


@media(max-width:768px) {
    .portfolio-item-desc-right {
        margin-bottom: 18px;
        font-size: 18px;
    }

    .portfolio-item-desc-left {
        font-size: 18px;
    }

    #portfolio-page h2 {
        margin-bottom: 28px;
        font-size: 48px;
        text-align: left !important;
    }

    .portfolio-item {
        margin-bottom: 20px;
    }

    .table-portfolio-item-title {
        font-size: 16px;
    }

    .table-portfolio-item-desc {
        font-size: 16px;
    }


}

@media(max-width:576px) {
    .portfolio-item-desc-right {
        margin-bottom: 16px;
        font-size: 16px;
    }

    .portfolio-item-desc-left {
        font-size: 16px;
    }

    #portfolio-page h2 {
        margin-bottom: 24px;
        font-size: 32px;
    }


    .table-portfolio-item-desc {
        font-size: 14px;
    }
}