h1 {

    font-size: 2.5rem;
    margin-bottom: 3rem !important;
    font-weight: 600;
}

.block-text {
    font-size: 1.4rem;
    margin-bottom: 2rem;
}

.block-text-block {
    margin-bottom: 7.3rem;
}

.main-img {
    width: 100%;
    margin-bottom: 7.5rem;
}

.block-text-block img {
    width: 100%
}

.year {
    font-size: 0.9rem;
    color: #262626;
}

.project-items {
    gap: 24px;
    margin-bottom: 7.5rem;
}

.project-item {
    padding: 24px;
    width: 284px;
    flex-shrink: 0;
}

.project-item:first-child {
    padding: 24px;
    max-width: unset;
    width: 100%;
    flex-shrink: 1;
}

.project-item-title {
    font-size: 1rem;
    color: #262626;
    margin-bottom: 3rem;
}


.project-item-value {
    font-size: 1.1rem;
    color: #262626;
    font-weight: 700;
}

.swiper-slide {
    max-height: 900px;
    object-fit: cover;
    height: auto;
}

.swiper {
    margin-left: 12rem;
}

.block-text-block h2 {
    margin-bottom: 6.5rem;
}

.mini-container {
    position: static;
}


@media (min-width: 1800px) {

    .swiper {
        margin-left: calc(((100vw - 1700px) / 2) - 8px);
    }

    h2 {
        margin-bottom: 40px;
    }

    .swiper-slide {
        max-height: 800px;
    }

    h1 {
        font-size: 48px;
        margin-bottom: 55px !important;
    }

    .block-text {
        font-size: 32px;
        margin-bottom: 30px;
    }

    .year {
        font-size: 16px;
    }

    .project-item-title {
        font-size: 18px;
    }

    .project-item-value {
        font-size: 20px;
    }

    .block-text-block {
        margin-bottom: 120px;
    }

    .main-img {
        margin-bottom: 133px;
    }

    .project-items {
        margin-bottom: 130px;
    }

    .block-text-block h2 {
        margin-bottom: 70px;
    }

    .year {
        font-size: 16px;
    }

}

@media (max-width: 1800px) {
    .swiper-slide {
        max-height: 800px;
    }
}

@media (max-width: 1536px) {
    .project-item {
        width: 194px;
    }
}

@media (max-width: 1045px) {
    .project-item {
        width: 100%;
        flex-shrink: unset;
    }
}


@media (max-width: 990px) {

    .block-text{
        font-size: 18px;
    }

    .project-item-value {
        font-size: 16px;
    }

    .swiper {
        margin-left: calc((100vw - (100vw * 0.95)) / 2);
    }

    h2,
    .block-text-block h2 {
        margin-bottom: 40px;
    }

    .year {
        font-size: 16px;
    }

    .main-img {
        margin-bottom: 100px;
    }

    .project-item,
    .project-item:first-child {
        padding: 0;
    }

    .block-text-block {
        margin-bottom: 45px;
    }

    .project-item-title {
        margin-bottom: 0;
        font-size: 18px;
    }
}

@media (max-width: 936px) {
    .project-items {
        flex-direction: column;
    }
}

@media (max-width: 800px) {

    .main-img,
    .project-items {
        margin-bottom: 50px;
    }

    .block-text-block:last-child {
        margin-bottom: 0;
    }
}

@media (max-width: 769px) {

    h1{
        font-size: 30px;
        margin-bottom: 40px !important;
    }

    .year {
        font-size: 14px;
    }

    h2,
    .block-text-block h2 {
        margin-bottom: 30px;
    }

    .block-text-block {
        margin-bottom: 60px;
    }

    .block-textб
    .project-item-title{
        font-size: 16px;
    }
}

@media (max-width: 576px) {

    h1{
        font-size: 28px;
        margin-bottom: 20px !important;
    }
    .block-text,
    .project-item-value
    {
        font-size: 16px;
    }
    .year,
    .project-item-title
     {
        font-size: 14px;
    }
}