h1 {
    font-family: 'Hauora Bold';
    font-weight: 700;
    line-height: 70px;
    letter-spacing: -1%;
    padding-bottom: 40px;
    border-bottom: 1px solid #0D1014;
    margin: 4.5rem 0;
}

.first-page-block {
    margin-top: 30rem !important;
    margin-bottom: 13rem;
}

.vacancie-content {
    font-family: 'Hauora Medium';
    font-weight: 500;
    font-size: 1.5rem;
}

.vacancie-content p {
    margin-top: 24px;
    line-height: 150%;
}

.vacancie-content li {
    line-height: 150%;
}

.vacancie-content h4 {
    font-weight: 700;
    margin-top: 80px;
}

.vacancie-content ul {
    margin-top: 24px;
}

.vacancie-content a {
    color: #0D60CD;
    font-weight: 500;
}

.feedback-form {
    display: none;
}

@media(min-width:1500px) {
    h1 {
        font-size: 48px;
        margin: 80px 0;
    }

    .vacancie-content p,
    .vacancie-content {
        font-size: 20px;
    }

    .vacancie-content h4 {
        margin-top: 60px;
        font-size: 24px;
    }

    .vacancie-content ul {
        margin-top: 20px;
    }

    .first-page-block {
        margin-top: 318px !important;
        margin-bottom: 200px;
    }
}

@media(max-width:990px) {

    h1 {
        margin: 40px 0;
        padding-bottom: 15px;
    }

    .vacancie-content p,
    .vacancie-content {
        font-size: 16px;
    }

    .vacancie-content h4 {
        margin-top: 60px;
        font-size: 20px;
    }

    .vacancie-content ul {
        margin-top: 20px;
    }

    .first-page-block {
        margin-top: 175px !important;
        margin-bottom: 100px;
    }

    ol,
    ul {
        padding-left: 40px;
    }
}

@media(max-width:768px) {
    h1 {
        font-size: 35px;
        margin-top: 16px;
        margin-bottom: 50px;
        padding-bottom: 28px;
    }

    .vacancie-content p,
    .vacancie-content {
        font-size: 18px;
    }

    .vacancie-content h4 {
        margin-top: 50px;
        font-size: 18px;
    }

    .vacancie-content ul {
        margin-top: 18px;
    }
}

@media(max-width:576px) {
    h1 {
        font-size: 32px;
        margin-top: 4px;
        margin-bottom: 24px;
        padding-bottom: 16px;
    }

    .vacancie-content p {
        font-size: 16px;
        margin-bottom: 0.5rem;
    }

    .vacancie-content h4 {
        margin-top: 40px;
        font-size: 16px;
    }

    .vacancie-content ul {
        margin-top: 16px;
    }

    .vacancie-content {
        font-size: 16px;
    }
}