#cursor {
    background-color: rgb(0, 0, 0);
}


footer::after,
.footer-background {
    display: none;
}

footer .position-absolute {
    position: relative !important;
    bottom: 0 !important;
    margin-bottom: 190px;
}

footer {
    margin-top: 9rem;
}

.feedback-form-form input,
.feedback-form-form textarea {
    background-color: #0D10141A !important;
    color: #0D1014;
}

.form-check-input:checked[type=checkbox] {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%230D1014' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e") !important;
}

.form-check a {
    color: #0D101480 !important;
}

.feedback-form-form .btn {
    color: #0D1014CC;
    background: #0D10141A;
    font-weight: 700;
}

body {
    color: #0D1014;
    font-family: 'Hauora Regular' !important;
    background-color: #FFFFFF !important;
}

.hover-this span,
.header-top a,
.header-top {
    color: #0D1014;
}

.footer-text {
    margin-top: 140px;
    color: #0D1014 !important;
    margin: 0 auto;
    position: unset !important;
}

.footer-text a {
    color: #0D1014 !important;
    font-weight: 700;
}

.footer-top {
    border-bottom: 1px solid #0D1014;
}

.footer-bottom {
    color: #0D1014 !important;
}

a {
    color: #0D1014;
    text-decoration: none;
}

.bread a {
    color: #0D1014CC;
}

@media(min-width:1800px) {
    footer {
        margin-top: 140px;
    }
}

@media(max-width:990px) {
    footer {
        margin-top: 120px;
    }

    footer .position-absolute {
        margin-bottom: 0;
    }
}


@media(max-width:768px) {
    footer {
        margin-top: 100px;
    }
}

@media(max-width:576px) {
    footer {
        margin-top: 60px;
    }
}