{% extends 'base.html' %}


{%load static%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/office.css'%}" />
<link rel="stylesheet" type="text/css" href="{%static 'css/white-back.css'%}" />
{%endblock%}

{%block content%}
<img src="{%static 'img/office-back.webp'%}" alt="" class="office-back">
<section id="office-title" class="mini-container first-page-block">
    <div class="first-h2">
        <h2>mowo (modern wonder) - это мультилисцеплинарное и децентрализованное бюро с
            лучшими специалистами из разных уголков планеты</h2>
        <br>
        <h2>мы специализируемся на жилых и коммерческих пространствах и формируем их с глубоким
            вниманием к природе и социальным взаимодействиям людей.</h2>
    </div>

    <div class="manifest">
        <h3>манифест</h3>
        <p>Мы часто задаем себе вопрос что на самом деле является архитектурой?
            И какая она на самом деле? Мы думаем что настоящая архитектура - это
            живая архитектура. Не просто функциональная, не просто эстетичная —
            а та что способной вызывать эмоции. Потому что именно эмоции делают
            пространство запоминающимся, формируют к нему привязанность
            и подлинную ценность. Они глубже логики, сильнее рациональных
            аргументов. Они влияют на выбор — жить, работать, инвестировать.
            Архитектура, которая вызывает эмоциональный отклик, становится понастоящему востребованной.</p>
        <p>Мы не смотрим на архитектуру как на набор решений и сумму технических
            характеристик. Это форма взаимодействия человека с пространством,
            в котором он начинает чувствовать. Эмоции, возникающие в процессе
            восприятия среды, — это то, что делает архитектуру живой и сильной.
            Именно поэтому мы проектируем не здания, а среду. Среду, в которой
            хочется быть</p>
        <p>Мы не стремимся к стилистической унификации и не навязываем
            формальные решения. Мы проектируем архитектуру, которая формируется
            по законам природы: через свет и тень, ритм и тишину, материалы, воздух,
            текстуры и ощущения. Природа для нас — не декоративный мотив, а
            первооснова. Человек рожден жить в природной среде, и именно она
            вызывает в нём самые глубокие и искренние эмоции. Мы не копируем
            природу, но осмысленно внедряем её принципы в проектирование, чтобы
            создавать пространства, в которых человек чувствует себя естественно и
            свободно.</p>
        <p>Наша архитектура решает не только культурные и пространственные
            задачи — она эффективно работает на бизнес. Мы сотрудничаем с
            девелоперами и хорошо понимаем их цели: максимальная маржинальность,
            рациональность планировок, выгодное позиционирование на рынке,
            быстрое прохождение экспертиз, высокая ликвидность. Мы говорим
            на одном языке с заказчиком и создаём архитектуру, которая отвечает
            ключевым требованиям рынка: она понятна покупателю, выгодно
            отличается на фоне конкурентов, формирует доверие и желание выбрать
            именно этот проект</p>
        <p>Сегодня человек всё чаще оказывается перед выбором: жить в городе с
            его плотностью и инфраструктурой или ближе к природе — с её свободой,
            воздухом и покоем. Мы убеждены, что этот выбор можно не делать. Мы
            стремимся стереть границу между природой и городом. Не отдельными
            зелёными пятнами и парками, а на уровне самой логики среды. Мы
            проектируем так, чтобы природные принципы становились частью
            повседневной городской жизни: в силуэтах, текстурах, ритме, сценариях
            движения, тактильных и визуальных ощущениях. Мы создаём архитектуру,
            в которой природа не противопоставляется городу, а вплетена в него —
            осознанно, глубоко, на уровне пространства.</p>
        <p>Наша философия проста: архитектура должна быть эмоциональной — и
            в то же время эффективной. Мы проектируем с вниманием к человеку
            и с пониманием бизнес-целей. Поэтому каждый наш проект — это не
            только сильная идея, но и точный, взвешенный результат: в восприятии,
            в реализации, в продажах. Мы уверены: сильная архитектура должна
            работать. На человека — создавая атмосферу. На бизнес — создавая
            ценность.</p>
    </div>

    <h2 class="big-text">
        modern wonder современной архитектуры — не в форме, не в технологии и не в масштабе.
        А в том, как точно она возвращает человека к самому естественному — ощущению связи с миром, с собой, с
        пространством, в котором он действительно чувствует, что живёт. </h2>

    <h3>люди</h3>
    <div class="people-items d-grid">
        {%for empl in employees%}
        <div class="people-item">
            <img src="{{empl.image.url}}" alt="сотрудник {{empl.name}}">
            <div class="peolple-name">
                {{empl.name}}
            </div>
            <div class="peolple-desc">
                {{empl.position}}
            </div>
        </div>
        {%endfor%}
        {%for empl in employees%}
        <div class="people-item">
            <img src="{{empl.image.url}}" alt="сотрудник {{empl.name}}">
            <div class="peolple-name">
                {{empl.name}}
            </div>
            <div class="peolple-desc">
                {{empl.position}}
            </div>
        </div>
        {%endfor%}
        {%for empl in employees%}
        <div class="people-item">
            <img src="{{empl.image.url}}" alt="сотрудник {{empl.name}}">
            <div class="peolple-name">
                {{empl.name}}
            </div>
            <div class="peolple-desc">
                {{empl.position}}
            </div>
        </div>
        {%endfor%}

    </div>
</section>
<section id="office-vacancies" class="mini-container">
    <h3>вакансии</h3>
    <div class="vacancies-items">
        {%for vac in vacancies%}
        <a href="/vacancies/{{vac.slug}}/" class="vacancies-item d-block">
            {{vac.name}}
        </a>
        {%endfor%}

    </div>
</section>
<script>
    const header = document.querySelector('header');
    const gradientSection = document.querySelector('.manifest');
    header.classList.add('header-inverted');

    window.addEventListener('scroll', () => {
        const rect = gradientSection.getBoundingClientRect();
        console.log(gradientSection.getBoundingClientRect())
        if (rect.top <= 0) {
            header.classList.remove('header-inverted');
        } else {
            header.classList.add('header-inverted');
        }
    });
</script>
{%endblock%}