{% extends 'base.html' %}


{%load static%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{%static 'css/office.css'%}" />
<link rel="stylesheet" type="text/css" href="{%static 'css/white-back.css'%}" />
{%endblock%}

{%block content%}
<img src="{%static 'img/office-back.jpg'%}" alt="" class="office-back">
<section id="office-title" class="mini-container first-page-block">
    <div class="first-h2">
        <h2>mowo (modern wonder)&nbsp;&mdash; это мультилисцеплинарное и&nbsp;децентрализованное бюро с&nbsp;лучшими специалистами из&nbsp;разных уголков планеты</h2>
        <br>
        <h2>мы&nbsp;специализируемся на&nbsp;жилых и&nbsp;коммерческих пространствах и&nbsp;формируем их&nbsp;с&nbsp;глубоким вниманием к&nbsp;природе и&nbsp;социальным взаимодействиям людей.</h2>
    </div>

    <div class="manifest">
        <h2>Манифест</h2>
        <p>Мы&nbsp;часто задаем себе вопрос что на&nbsp;самом деле является архитектурой? И&nbsp;какая 
            она на&nbsp;самом деле? Мы&nbsp;думаем что настоящая архитектура&nbsp;&mdash; это живая
             архитектура. Не&nbsp;просто функциональная, не&nbsp;просто эстетичная&nbsp;&mdash; а&nbsp;
             та&nbsp;что способной вызывать эмоции. Потому что именно эмоции делают пространство запоминающимся,
            формируют к&nbsp;нему привязанность и&nbsp;подлинную ценность. 
            Они глубже логики, сильнее рациональных аргументов. Они влияют на&nbsp;выбор&nbsp;&mdash; жить,
             работать, инвестировать. Архитектура, которая вызывает эмоциональный отклик, становится понастоящему 
             востребованной.</p>
        <p>Мы&nbsp;не&nbsp;смотрим на&nbsp;архитектуру как на&nbsp;набор решений и&nbsp;сумму технических характеристик. Это форма взаимодействия человека с&nbsp;пространством,
            в&nbsp;котором он&nbsp;начинает чувствовать. Эмоции, возникающие в&nbsp;процессе восприятия среды, это&nbsp;то, что делает архитектуру живой и&nbsp;сильной. 
            Именно поэтому мы&nbsp;проектируем не&nbsp;здания, а&nbsp;среду. Среду, в&nbsp;которой хочется быть.</p>
        <p>Мы&nbsp;не&nbsp;стремимся к&nbsp;стилистической унификации и&nbsp;не&nbsp;навязываем формальные решения. Мы&nbsp;проектируем 
            архитектуру, которая формируется по&nbsp;законам природы: через свет и&nbsp;тень, ритм и&nbsp;тишину, материалы, воздух, текстуры 
            и&nbsp;ощущения. Природа для нас не&nbsp;декоративный мотив, а
            первооснова. Человек рожден жить в&nbsp;природной среде, и&nbsp;именно она вызывает в&nbsp;нём самые глубокие и&nbsp;искренние эмоции.
             Мы&nbsp;не&nbsp;копируем природу, но&nbsp;осмысленно внедряем её&nbsp;принципы в&nbsp;проектирование, чтобы создавать пространства, в&nbsp;которых 
             человек чувствует себя естественно и&nbsp;свободно.</p>
        <p>Наша архитектура решает не&nbsp;только культурные и&nbsp;пространственные задачи она эффективно работает на&nbsp;бизнес. 
            Мы&nbsp;сотрудничаем с&nbsp;девелоперами и&nbsp;хорошо понимаем их&nbsp;цели: максимальная маржинальность, рациональность планировок, 
            выгодное позиционирование на&nbsp;рынке, быстрое прохождение экспертиз, высокая ликвидность. Мы&nbsp;говорим на&nbsp;одном языке с&nbsp;заказчиком 
            и&nbsp;создаём архитектуру, которая отвечает ключевым требованиям рынка: она понятна покупателю, выгодно отличается на&nbsp;фоне конкурентов, формирует
             доверие и&nbsp;желание выбрать именно этот проект.</p>
        <p>Сегодня человек всё чаще оказывается перед выбором: жить в&nbsp;городе с
его плотностью и&nbsp;инфраструктурой или ближе к&nbsp;природе&nbsp;&mdash; с&nbsp;её&nbsp;свободой,
воздухом и&nbsp;покоем. Мы&nbsp;убеждены, что этот выбор можно не&nbsp;делать. Мы
стремимся стереть границу между природой и&nbsp;городом. Не&nbsp;отдельными
зелёными пятнами и&nbsp;парками, а&nbsp;на&nbsp;уровне самой логики среды. Мы
проектируем так, чтобы природные принципы становились частью
повседневной городской жизни: в&nbsp;силуэтах, текстурах, ритме, сценариях
движения, тактильных и&nbsp;визуальных ощущениях. Мы&nbsp;создаём архитектуру,
в&nbsp;которой природа не&nbsp;противопоставляется городу, а&nbsp;вплетена в&nbsp;него &mdash;
осознанно, глубоко, на&nbsp;уровне пространства.</p>
        <p>Наша философия проста: архитектура должна быть эмоциональной&nbsp;&mdash; и
в&nbsp;то&nbsp;же время эффективной. Мы&nbsp;проектируем с&nbsp;вниманием к&nbsp;человеку
и&nbsp;с&nbsp;пониманием бизнес-целей. Поэтому каждый наш проект&nbsp;&mdash; это не
только сильная идея, но&nbsp;и&nbsp;точный, взвешенный результат: в&nbsp;восприятии,
в&nbsp;реализации, в&nbsp;продажах. Мы&nbsp;уверены: сильная архитектура должна
работать. На&nbsp;человека&nbsp;&mdash; создавая атмосферу. На&nbsp;бизнес&nbsp;&mdash; создавая
ценность.</p>
            <p class="">
        modern wonder современной архитектуры&nbsp;&mdash; не&nbsp;в&nbsp;форме, не&nbsp;в&nbsp;технологии и&nbsp;не&nbsp;в&nbsp;масштабе.
А&nbsp;в&nbsp;том,&nbsp;как&nbsp;точно она&nbsp;возвращает человека к&nbsp;самому естественному&nbsp;&mdash; ощущению связи с&nbsp;миром,
 с&nbsp;собой, с&nbsp;пространством, в&nbsp;котором он&nbsp;действительно чувствует, что&nbsp;живёт.</p>
    </div>



    <h2>Люди</h2>
    <div class="people-items d-grid">
        {%for empl in employees%}
        <div class="people-item">
            <img src="{{empl.image.url}}" alt="сотрудник {{empl.name}}">
            <div class="peolple-name">
                {{empl.name}}
            </div>
            <div class="peolple-desc">
                {{empl.position}}
            </div>
        </div>
        {%endfor%}

    </div>
</section>
<section id="office-vacancies" class="mini-container">
    <h2>Вакансии</h2>
    <div class="vacancies-items">
        {%for vac in vacancies%}
        <a href="/vacancies/{{vac.slug}}/" class="vacancies-item d-block">
            {{vac.name}}
        </a>
        {%endfor%}

    </div>
</section>
<script>
    const header = document.querySelector('header');
    const gradientSection = document.querySelector('.manifest');
    header.classList.add('header-inverted');

    window.addEventListener('scroll', () => {
        const rect = gradientSection.getBoundingClientRect();
        if (rect.top <= 0) {
            header.classList.remove('header-inverted');
        } else {
            header.classList.add('header-inverted');
        }
    });
</script>
{%endblock%}