{% extends 'base.html' %}
{%load static%}
{% load humanize %}

{%block style%}
    <link rel="stylesheet" href="{% static 'vendor/swiper.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/portfolio.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/white-back.css'%}" />
{%endblock%}

{%block content%} 
    <section id="portfolio-page" class="custom-container first-page-block">
        <h2>главные проекты</h2>
        <div class="portfolio-items">
            {%for project in projects_main%}
                {%if project.project_page.exists and project.project_page.first.view == True%}
                    <a class="portfolio-item position-relative d-flex flex-lg-row flex-column" href="project/{{project.project_page.first.slug}}">
                {%else%}
                    <div class="portfolio-item position-relative d-flex flex-lg-row flex-column">
                {%endif%}
                        
                    <div class="portfolio-item-desc-left order-1 order-lg-1 d-flex flex-column justify-content-between h-100 top-0 left-0 text-end ">
                            <div class="top-left">
                                {{project.name}}
                            </div>
                            
                            <div class="bottom-left">
                                {{project.location}}
                            </div>
                    </div>
                    <div class="portfolio-item-wrapper order-2 position-relative">
                        <div class="swiper swiper-photos">
                            <div class="swiper-wrapper">
                                {%for img in project.photos.all %}
                                    <img src="{{img.image.url}}" alt="" class="swiper-slide">
                                {%endfor%}
                            </div>
                        </div>
                        <div class="swiper-btns">
                            <div class="swiper--prev button-prev-{{forloop.counter}}">
                              
                            </div>
                            <div class="swiper--next button-next-{{forloop.counter}}">
                               
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination-{{forloop.counter}}">
                        </div>
                    </div>
                    
                    
                    <div class="portfolio-item-desc-right order-3 order-lg-2 d-flex flex-column justify-content-between h-100 text-start">
                        <div class="top-left">
                                {{project.direction}}
                            </div>
                        <div class="bottom-left">
                            {{project.status}}
                        </div>
                    </div>
                {%if project.project_page.exists and project.project_page.first.view == True%}
                    </a>
                {%else%}
                    </div>
                {%endif%}
                
            {%endfor%}
        </div>
        <h2 class="text-center ms-0">все проекты</h2>
        <table class="table table-portfolio-items">
            <thead>
                <tr class="font-weight-bold">
                    <th scope="col">наименование</th>
                    <th scope="col">направление</th>
                    <th scope="col">локация</th>
                    <th scope="col">статус</th>
                    <th scope="col">площадь</th>
                    <th scope="col">год</th>
                </tr>
            </thead>
            <tbody style="text-transform: lowercase;">
                {%for project in projects%}
                    {%if project.main%}
                    <tr class="table-portfolio-item">
                        <td class="font-weight-bold ">{{project.name}}</td>
                        <td>{{project.direction}}</td>
                        <td>{{project.location}}</td>
                        <td>{{project.status}}</td>
                        <td>{{project.square |intcomma}} м<sup>2</sup></td>
                        <td>{{project.year}}</td>
                    </tr>
                    {%else%}
                        {% if project.photos.exists%}
                        <tr class="table-portfolio-item">
                            <td>{{project.name}}</td>
                            <td>{{project.direction}}</td>
                            <td>{{project.location}}</td>
                            <td>{{project.status}}</td>
                            <td>{{project.square |intcomma}} м<sup>2</sup></td>
                            <td>{{project.year}}</td>
                        </tr>
                        {%else%}
                        <tr>
                            <td>{{project.name}}</td>
                            <td>{{project.direction}}</td>
                            <td>{{project.location}}</td>
                            <td>{{project.status}}</td>
                            <td>{{project.square |intcomma}} м<sup>2</sup></td>
                            <td>{{project.year}}</td>
                        </tr>
                        {%endif%}
                    {%endif%}
                {%endfor%}
                
                
            </tbody>
        </table>
        <div class="table-portfolio-items d-lg-none d-block" style="text-transform: lowercase;">
                {%for project in projects%}
                <div class="table-portfolio-item">
                    <div class="table-portfolio-item-title">
                        {{project.name}}
                    </div>
                    <div class="table-portfolio-item-desc">
                        <p class="mb-1">{{project.direction}}</p>
                        <p class="mb-1">{{project.location}}</p>
                        <div class="d-flex justify-content-between">
                            <p class="mb-0"> {{project.status}}</p>
                            <p class="mb-0">{{project.square |intcomma}} м <span class="ms-2">{{project.year}}</span></p>
                        </div>
                    </div>
                </div>
                {%endfor%}
        </div>
        <div class="modal-container" id="modalContainer" style="transform: translate(150%) translateY(-100%) scale(0) translateZ(0)">
            <div class="modal-slider" id="modalSlider">
                {%for project in projects%}
                    {% if project.photos.exists%}
                    <div class="style_modal"><img alt="image" loading="lazy"
                            width="300" height="0" decoding="async" data-nimg="1" style="color:transparent"
                            src="{{project.photos.first.image.url}}">
                    </div>
                    {%endif%}
                {%endfor%}
            </div>
        </div>
    </section>

{%endblock%}

{%block script%}
<script src="{% static 'vendor/swiper.min.js' %}"></script>
<script src="{%static 'js/v4/gsap.min.js'%}"></script>
<script src="{%static 'js/portfolio.js'%}"></script>
<script src="{%static 'js/portfolio-swiper.js'%}"></script>
{%endblock%}