{% extends 'base.html' %}
{%load static%}

{%block style%}
    <link rel="stylesheet" type="text/css" href="{%static 'css/article.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/white-back.css'%}" />
    <link rel="stylesheet" href="{% static 'css/swiper.min.css' %}" />
{%endblock%}
{%block content%} 
    <section id="article-page" class="first-page-block">
        <div class="bread d-flex mini-container">
            <a href="/blog" class="cursor-hover">
                <span><svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" viewBox="0 0 20 21" fill="none">
                <path d="M18.3319 9.66618L18.332 11.3328L4.85545 11.3328L8.14686 14.6242L6.96837 15.8027L1.66503 10.4994L6.96837 5.19609L8.14687 6.37468L4.85536 9.66609L18.3319 9.66618Z" fill="#9D9D9D"/>
                </svg>
            </span>
            Все статьи
            </a>    
            
        </div>
        <div class="article-header mini-container">
            <h1>Тренды бла­го­устрой­ства в 2025 году: ар­хи­тек­ту­ра дворовых про­странств, плей­ха­бов и об­ще­ствен­ных мест</h1>
            <div class="date">
                22.01.2025
            </div>
        </div>
        <div class="text-center">
            <img src="{%static 'img/temp.webp'%}" alt="" class="big-img">
        </div>
        <p class="mini-container">Какие тренды в архитектуре дворовых пространств, плейхабов, общественных мест будут актуальны в 2025 году? Рассказываем о ключевых трендах!</p>
        <p class="mini-container">
            Эстетичная и комфортная среда повышает стоимость и ценность недвижимости. Архитекторы, создавая 
            современные проекты, стремятся не просто попасть в ожидания покупателей объектов и жителей города, 
            а превзойти их! Архитектура развивается, жители получают великолепные пространства, а девелоперы 
            повышают стоимость сделки от 5 до 15%. Подробно о том, как повлиял на современные проекты и девелоперов 
            тренд на благоустройство мы уже рассказывали в материале «Тренд на бла­го­устрой­ство: как двор уве­ли­чи­ва­ет
            класс ЖК и сто­и­мость квартир». Сегодня же расскажем, какие тренды в благоустройстве перейдут с архитекторами 
            и бюро в 2025 год.
        </p>
        <div class="slider swiper" style="overflow: unset;">
            <div class="swiper-wrapper">
                <img src="{%static 'img/temp2.webp'%}" alt="" class="swiper-slide">
                <img src="{%static 'img/temp3.webp'%}" alt="" class="swiper-slide">
            </div>
            <div class="swiper-pagination"></div>
            <div class="siper-btns">
                <div class="swiper-button-prev cursor-hover">
                    <svg width="36" height="24" viewBox="0 0 36 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M35.9451 10.2013L35.9453 13.7908L6.91883 13.7908L14.008 20.8801L11.4697 23.4185L0.0471621 11.9959L11.4697 0.573379L14.008 3.11187L6.91865 10.2011L35.9451 10.2013Z" fill="white"/>
                    </svg>
                </div>
                <div class="swiper-button-next cursor-hover">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="24" viewBox="0 0 36 24" fill="none">
                        <path d="M0.0549387 13.7987L0.0546875 10.2092H29.0812L21.992 3.11987L24.5303 0.581543L35.9528 12.0041L24.5303 23.4266L21.992 20.8881L29.0814 13.7989L0.0549387 13.7987Z" fill="white"/>
                        </svg>
                </div>
            </div>
        </div>
        <p class="mini-container">
            Геометризм используется не только как основной паттерн, но и как дополнение, отдельная функциональная зона: например, для покрытия детской площадки в виде игры «крестики-нолики».
        </p>
        <div class="gallery">
            <div class="item w-100">
                <img src="{%static 'img/temp3.webp'%}" alt="" class="w-100">
                <p>
                    Геометризм используется не только как основной паттерн, но и как дополнение, 
                    отдельная функциональная зона: например, для покрытия детской площадки в виде 
                    игры «крестики-нолики».
                </p>
            </div>
            <div class="item  w-100">
                <img src="{%static 'img/temp4.webp'%}" alt="" class="w-100">
                <p>
                    В ЖК «Гранатовом» южного города Дербент с высоты птичьего полета считывается 
                    яркий графический элемент: путеводная нить, пролегающая через все пространство. 
                    Она связывает все функциональные зоны двора воедино, формируя непрерывную связь.
                </p>
            </div>
        </div>
        <div class="mini-container">
            <h2>Выйти из спячки: всесезонные проекты</h2>
            <p >
                Большая часть нашей страны имеет выраженную сезонность, поэтому проекты с «летней» 
                функциональной программой неэффективны. Благоустройство «впадает в спячку» вместе с
                 холодами и просыпается только весной. Сегодня же мы все чаще видим объекты, в которых 
                 тщательно прорабатываются сценарии зимнего, весеннего и осеннего использования 
                 пространства. Эта тенденция сохранит свою динамику и в будущем году.
                Построить всесезонное благоустройство помогают ветрозащитные конструкции, комплексы для зимних игр
                и разнообразные тепловые завесы.
            </p>
        </div>
        <div class="mini-container margin-100" >
            <h2>Биоразнообразие: ценность природы</h2>
            <p >
                Увеличение площади твердых покрытий и сокращение зелени приводит к повышению 
                температуры в городах по сравнению с сельской местностью — такое явление называют 
                островом тепла. Среди преимуществ — охлаждение воздуха и поглощение атмосферных 
                загрязнителей.
                Разнообразная растительность не только улучшает образ объектов, но и является ключевым 
                аспектом при выборе места для жизни современными покупателями. Проекты с ярким 
                биоразнообразием ценятся и выигрывают у проектов с меньшим озеленением.
                По данным аналитиков, на зеленые лаунж-зоны и ландшафтный дизайн девелоперы закладывают 
                в бюджет 3-5% от всей сметы, а в высоком сегменте эта цифра доходит до 10%. Кроме 
                поддержания экосистемы и улучшения образа объектов, растительность дает возможность 
                горожанам быть ближе к природе.
            </p>
        </div>
    </section>
{%endblock%}

{%block script%}
<script defer src="{%static 'js/jquery.js'%}"></script>
<script src="{%static 'js/swiper.min.js'%}"></script>
<script>
    var __slider = new Swiper(".slider ", {
        slidesPerView: 1,
        spaceBetween: 30,
        infinity: false,
        centeredSlides: false,
        pagination: {
            el: ".swiper-pagination",
            type: "fraction",
        },
        navigation: {
            nextEl: ".slider .swiper-button-next",
            prevEl: ".slider .swiper-button-prev",
        },
    });
</script>

{%endblock%}
