{% extends 'base.html' %}
{%load static%}
{% load cropping %}
{% load thumbnail %}

{%block style%}
    <link rel="stylesheet" type="text/css" href="{%static 'css/portfolio.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/blog.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/white-back.css'%}" />
{%endblock%}

{%block content%} 
    <section id="portfolio-page" class="custom-container first-page-block">
        <div class="portfolio-items">
            {%for obj in articles%}
            <a class="portfolio-item position-relative d-flex flex-lg-row flex-column" href="blog/articles/{{obj.slug}}">
                    <div class="portfolio-item-wrapper order-2 position-relative">
                        <!-- <img src="{% cropped_thumbnail obj.photo  "cropping" scale=1 %}"> -->
                         <img src="{{obj.photo.image.url}}" alt="{{obj.name}}">
                    </div>
                    
                    <div class="portfolio-item-desc-right order-1 order-lg-2 d-flex flex-column justify-content-between h-100 text-start">
                        <div class="top-left">
                            {{obj.name}}
                        </div>
                        <div class="bottom-left">
                            {{obj.date|date:"d.m.Y"}}
                        </div>
                    </div>
            </a>
            {%endfor%}
        </div>
    </section>

{%endblock%}

{%block script%}
<script src="{%static 'js/v4/gsap.min.js'%}"></script>
<script src="{%static 'js/portfolio.js'%}"></script>
{%endblock%}