{% extends 'base.html' %}
{%load static%}

{%block style%}
    <link rel="stylesheet" type="text/css" href="{%static 'css/portfolio.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/blog.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/white-back.css'%}" />
{%endblock%}

{%block content%} 
    <section id="portfolio-page" class="big-container first-page-block">
        <div class="portfolio-items">
            <a class="portfolio-item position-relative d-flex flex-lg-row flex-column" href="blog/articles/1">
                    <div class="portfolio-item-wrapper order-2 position-relative">
                        <img src="{%static 'img/portfolio/1.webp'%}" alt="">
                    </div>
                    
                    <div class="portfolio-item-desc-right order-1 order-lg-2 d-flex flex-column justify-content-between h-100 text-start">
                        <div class="top-left">
                            Тренды бла­го­устрой­ства в 2025 году: ар­хи­тек­ту­ра дворовых про­странств, плей­ха­бов и об­ще­ствен­ных мест
                        </div>
                        <div class="bottom-left">
                            22.01.2025
                        </div>
                    </div>
            </a>
        </div>
    </section>

{%endblock%}

{%block script%}
<script src="{%static 'js/v4/gsap.min.js'%}"></script>
<script src="{%static 'js/portfolio.js'%}"></script>
{%endblock%}