{% extends 'base.html' %}
{%load static%}

{%block style%}
    <link rel="stylesheet" type="text/css" href="{%static 'css/portfolio.css'%}" />
    <link rel="stylesheet" type="text/css" href="{%static 'css/white-back.css'%}" />
{%endblock%}

{%block content%} 
    <section id="portfolio-page" class="big-container">
        <h2>главные проекты</h2>
        <div class="portfolio-items">
            <div class="portfolio-item position-relative d-flex">
                <div class="position-relative">
                    <img src="{%static 'img/portfolio/1.webp'%}" alt="">
                    <div class="portfolio-item-desc-left d-flex flex-column justify-content-between h-100 top-0 left-0 text-end position-absolute">
                        <div class="top-left">
                            архитектура <br>
                            и инженерия
                        </div>
                        <div class="bottom-left">
                            Владивосток, Россия
                        </div>
                    </div>
                </div>
                
                <div class="portfolio-item-desc-right d-flex flex-column justify-content-between h-100 text-start">
                    <div class="top-left">
                        жилой комплекс Тихвинский
                    </div>
                    <div class="bottom-left">
                        Реализация
                    </div>
                </div>
            </div>
            <div class="portfolio-item position-relative">
                <div class="position-relative">
                    <img src="{%static 'img/portfolio/2.webp'%}" alt="">
                    <div class="position-absolute top-0 portfolio-item-desc-left d-flex flex-column justify-content-between h-100 text-end">
                        <div class="top-left">
                            архитектура <br>
                            и инженерия
                        </div>
                        <div class="bottom-left">
                            Дахла, Западная Сахара
                        </div>
                    </div>
                </div>
                
                <div class="portfolio-item-desc-right d-flex flex-column justify-content-between h-100 text-start">
                    <div class="top-left">
                        университет Дахла
                    </div>
                    <div class="bottom-left">
                        Концепция
                    </div>
                </div>
            </div>
            <div class="portfolio-item position-relative">
                
                <div class="position-relative">
                    <img src="{%static 'img/portfolio/6.webp'%}" alt="">
                        <div class="position-absolute top-0 portfolio-item-desc-left d-flex flex-column justify-content-between h-100 text-end">
                        <div class="top-left">
                            архитектура <br>
                            и инженерия
                        </div>
                        <div class="bottom-left">
                            Владивосток, Россия
                        </div>
                    </div>
                </div>
                
                <div class="portfolio-item-desc-right d-flex flex-column justify-content-between h-100 text-start">
                    <div class="top-left">
                       вилла Дефриз
                    </div>
                    <div class="bottom-left">
                        Концепция
                    </div>
                </div>
            </div>
            <div class="portfolio-item position-relative">
                
                <div class="position-relative">
                    <img src="{%static 'img/portfolio/3.webp'%}" alt="">
                    <div class="position-absolute top-0 portfolio-item-desc-left d-flex flex-column justify-content-between h-100 text-end">
                        <div class="top-left">
                            архитектура <br>
                            и инженерия
                        </div>
                        <div class="bottom-left">
                            Марракеш, Морроко
                        </div>
                    </div>
                </div>
                
                <div class="portfolio-item-desc-right d-flex flex-column justify-content-between h-100 text-start">
                    <div class="top-left">
                        университет Марракеш
                    </div>
                    <div class="bottom-left">
                        Концепция
                    </div>
                </div>
            </div>
            <div class="portfolio-item position-relative">

                <div class="position-relative">
                    <img src="{%static 'img/portfolio/5.webp'%}" alt="">
                    <div class="position-absolute top-0 portfolio-item-desc-left d-flex flex-column justify-content-between h-100 text-end">
                        <div class="top-left">
                            благоустройство
                        </div>
                        <div class="bottom-left">
                            Владивосток, Россия
                        </div>
                    </div>
                </div>
                
                <div class="portfolio-item-desc-right d-flex flex-column justify-content-between h-100 text-start">
                    <div class="top-left">
                        жилой комплекс Тихвинский
                    </div>
                    <div class="bottom-left">
                        Реализация
                    </div>
                </div>
            </div>
            <div class="portfolio-item position-relative">
                
                <div class="position-relative"> 
                    <img src="{%static 'img/portfolio/4.webp'%}" alt="">
                    <div class="position-absolute top-0 portfolio-item-desc-left d-flex flex-column justify-content-between h-100 text-end">
                        <div class="top-left">
                            архитектура <br>
                            и инженерия
                        </div>
                        <div class="bottom-left">
                            Бали, Индонезия
                        </div>
                </div>
                </div>
                
                <div class="portfolio-item-desc-right d-flex flex-column justify-content-between h-100 text-start">
                    <div class="top-left">
                        комплекс апартаментов Елизиум
                    </div>
                    <div class="bottom-left">
                        Реализация
                    </div>
                </div>
            </div>
        </div>
        <h2 class="text-center ms-0">все проекты</h2>
        <table class="table table-portfolio-items">
            <thead>
                <tr class="font-weight-bold">
                    <th scope="col" class="text-end">наименование</th>
                    <th scope="col">направление</th>
                    <th scope="col">локация</th>
                    <th scope="col" class="text-end">статус</th>
                    <th scope="col">площадь</th>
                    <th scope="col">год</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="text-end">ЖК Тихвинский</td>
                    <td>квартирография</td>
                    <td>Владивосток, Россия</td>
                    <td class="text-end">реализован</td>
                    <td>14 980 м<sup>2</sup></td>
                    <td>2024</td>
                </tr>
                <tr>
                    <td class="text-end">комплекс вилл Edem</td>
                    <td>архитектура и инженерия</td>
                    <td>Бали, Индонезия</td>
                    <td class="text-end">комплекс вилл Едем</td>
                    <td>35 640 м<sup>2</sup></td>
                    <td>2024</td>
                </tr>
                <tr>
                    <td class="text-end">ижс Прибрежная</td>
                    <td>архитектура и инженерия</td>
                    <td>Владивосток, Россия</td>
                    <td class="text-end">реализован</td>
                    <td>210 м<sup>2</sup></td>
                    <td>2017</td>
                </tr>
                <tr>
                    <td class="text-end">Air Mall</td>
                    <td>архитектура и инженерия</td>
                    <td>Владивосток, Россия</td>
                    <td class="text-end">концепция</td>
                    <td>56 440 м<sup>2</sup></td>
                    <td>2018</td>
                </tr>
                <tr class="font-weight-bold table-portfolio-item">
                    <td class="text-end">апартаменты Elysium</td>
                    <td>архитектура и инженерия</td>
                    <td>Бали, Индонезия</td>
                    <td class="text-end">реализация</td>
                    <td>36 270 м<sup>2</sup></td>
                    <td>2024</td>
                </tr>
                <tr>
                    <td class="text-end">медцентр Plastec</td>
                    <td>архитектура и инженерия</td>
                    <td>Владивосток, Россия</td>
                    <td class="text-end">реализация</td>
                    <td>3 580 м<sup>2</sup></td>
                    <td>2023</td>
                </tr>
                <tr>
                    <td class="text-end">озеро Сердце Патрокла</td>
                    <td>архитектура и инженерия</td>
                    <td>Владивосток, Россия</td>
                    <td class="text-end">концепция</td>
                    <td>2 506 м<sup>2</sup></td>
                    <td>2023</td>
                </tr>
                <tr class="font-weight-bold table-portfolio-item">
                    <td class="text-end">ЖК Тихвинский</td>
                    <td>архитектура и инженерия</td>
                    <td>Владивосток, Россия</td>
                    <td class="text-end">реализация</td>
                    <td>14 980 м<sup>2</sup></td>
                    <td>2022</td>
                </tr>
                <tr>
                    <td class="text-end">жилой комплекс ТАММ</td>
                    <td>цифровая модель</td>
                    <td>Владивосток, Россия</td>
                    <td class="text-end">реализован</td>
                    <td>23 770 м<sup>2</sup></td>
                    <td>2023</td>
                </tr>
                <tr class="font-weight-bold table-portfolio-item">
                    <td class="text-end">университет Марракеш</td>
                    <td>архитектура и инженерия</td>
                    <td>Марракеш, Морокко</td>
                    <td class="text-end">концепция</td>
                    <td>289 450 м<sup>2</sup></td>
                    <td>2020</td>
                </tr>
                <tr>
                    <td class="text-end">соцжилье Агадир</td>
                    <td>архитектура и инженерия</td>
                    <td>Агадир, Морроко</td>
                    <td class="text-end">реализация</td>
                    <td>54 350 м<sup>2</sup></td>
                    <td>2020</td>
                </tr>
                <tr>
                    <td class="text-end">средняя школа 1600</td>
                    <td>архитектура и инженерия</td>
                    <td>Москва, Россия</td>
                    <td class="text-end">реализация</td>
                    <td>23 833 м<sup>2</sup></td>
                    <td>2023</td>
                </tr>
                <tr class="font-weight-bold table-portfolio-item">
                    <td class="text-end">ЖК Тихвинский</td>
                    <td>благоустройство</td>
                    <td>Владивосток, Россия</td>
                    <td class="text-end">реализация</td>
                    <td>1 834 м<sup>2</sup></td>
                    <td>2025</td>
                </tr>
            </tbody>
        </table>
        <div class="modal-container" id="modalContainer" style="transform: translate(150%) translateY(-100%) scale(0) translateZ(0)">
            <div class="modal-slider" id="modalSlider">
                    <div class="style_modal" style="background-color:#000000"><img alt="image" loading="lazy"
                            width="300" height="0" decoding="async" data-nimg="1" style="color:transparent"
                            src="{%static 'img/portfolio/1.webp'%}">
                    </div>
                    <div class="style_modal" style="background-color:#8C8C8C"><img alt="image" loading="lazy"
                            width="300" height="0" decoding="async" data-nimg="1" style="color:transparent"
                            src="{%static 'img/portfolio/5.webp'%}">
                    </div>
                    <div class="style_modal" style="background-color:#EFE8D3"><img alt="image" loading="lazy"
                            width="300" height="0" decoding="async" data-nimg="1" style="color:transparent"
                            src="{%static 'img/portfolio/3.webp'%}">
                    </div>
                    <div class="style_modal" style="background-color:#706D63"><img alt="image" loading="lazy"
                            width="300" height="0" decoding="async" data-nimg="1" style="color:transparent"
                            src="{%static 'img/portfolio/4.webp'%}">
                    </div>
            </div>
        </div>
    </section>

{%endblock%}

{%block script%}
<script src="{%static 'js/v4/gsap.min.js'%}"></script>
<script src="{%static 'js/portfolio.js'%}"></script>
{%endblock%}